@charset "utf-8";
html {font-size:100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:100%; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0;padding:0}
body,button,input,select,textarea,th {
	color:#4d4d4d;
	font:12px/1.8 "微软雅黑","Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
	}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
li {list-style:none}
img { border:0px; page-break-inside:avoid; margin:0px; padding:0px; -ms-interpolation-mode:bicubic; max-width:100%; vertical-align:middle;}
input[type="button"],input[type='submit'] {cursor:pointer}
button {cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
a {text-decoration:none;}
a,a:visited {color:#333;}
a:hover {color:#0070d9;text-decoration:underline;}
:focus {outline:none;}
button,input,textarea,select,a,a:focus {outline:none;}
body { background-color:#eee;}

span.money { font-family:verdana;}
span.money em{ font-style:normal;}
span.money b{ font-weight:normal;}

.error-display{ background:#fff; border:1px solid #ddd;}
.error-display{ margin:8px; padding:15px 15px;}
.error-display h3{ border-bottom:1px solid #e6e6e6; font-family:"微软雅黑"; font-weight:normal; font-size:22px; padding:0px 0px 5px 0px;}
.error-display ul{ font-size:14px; padding:10px 0px;}
.error-display ul li{ border-bottom:1px solid #e6e6e6; border-left:3px solid #ff5a00; padding:8px 0px 8px 10px;}
.error-display .buttons{ font-size:18px; padding:10px 0px 0px 0px;}
.error-display .buttons a{ margin-right:20px;}

.action-display{ background:#fff; border:1px solid #ddd;}
.action-display{ margin:8px; padding:15px 15px;}
.action-display h3{ border-bottom:1px solid #e6e6e6; font-family:"微软雅黑"; font-weight:normal; font-size:22px; padding:0px 0px 5px 0px;}
.action-display ul{ font-size:14px; padding:10px 0px;}
.action-display ul li{ border-bottom:1px solid #e6e6e6; border-left:3px solid #2ec200; padding:8px 0px 8px 10px;}
.action-display .buttons{ font-size:18px; padding:10px 0px 0px 0px;}
.action-display .buttons a{ margin-right:5px;}

header.wcpay{ background-color:#41bc15; color:#fff; font-size:16px; height:48px; line-height:48px; padding:0px 10px;}
section.wcpay{ background-color:#fff; padding:0px 15px 5px 15px; }
section.wcpay .trade-money{color:#333; padding:20px 0px; text-align:center;}
section.wcpay .trade-money span.money{ font-family:verdana; font-size:48px;}
section.wcpay .order-name{ border-top:1px solid #eee; color:#888; font-size:14px; padding:15px 0px; text-align:center;}