@charset "utf-8";
/* 
* http://www.openwbs.com/
*/

div.payment{ padding:0px 20px 0px 20px;}
div.payment .order-paytime-tip{ color:#666; padding:0px 0px 10px 0px;}
div.payment .order-paytime-tip b{ color:#eb2200; padding:0px 2px;}
dl.payment{ border:1px solid #ddd; padding:10px 0px; zoom:1; overflow:auto;}
dl.payment dt{ height:24px; line-height:24px; padding:5px 15px;}
dl.payment dt input{ vertical-align:middle; }
dl.payment dt span{ color:#222; display:inline-block; font-size:16px; font-weight:bold; vertical-align:top; padding:1px 0px 0px 5px;  }
dl.payment dd{ color:#888; padding:0px 0px 10px 38px;}

.pay-bank-list{}
.pay-bank-list ul{ padding-bottom:20px; zoom:1; overflow:auto;}
.pay-bank-list ul li{ float:left; position:relative; margin:8px 8px 0px 0px; }
.pay-bank-list ul li label{ border:1px solid #eee; display:inline-block; height:28px; padding:10px 1px 10px 10px; vertical-align:top;}
.pay-bank-list ul li label:hover{ border-color:#dc9292;}
.pay-bank-list ul li label.current{ border:2px solid #d80000; padding:9px 0px 9px 9px;}
.pay-bank-list ul li label input{ float:left; margin:8px 5px 0px 0px;}
.pay-bank-list ul li i{}
.pay-bank-list ul li .bank-name{ background-color:#dc9292; color:#fff; display:none; position:absolute; top:46px; left:0px; height:24px; line-height:24px; width:146px; padding:0px 5px; overflow:hidden; text-align:center; z-index:999;}

.bank-logo { background-image:url("../images/bank-logo.png"); display:inline-block; height:28px; overflow:hidden; width:125px; text-indent:-9999px; }

.bank-bjrcb { background-position:0 0}
.bank-bob { background-position:0 -28px}
.bank-cbhb { background-position:0 -56px}
.bank-bocd { background-position:0 -84px}
.bank-fdb { background-position:0 -112px}
.bank-icbc { background-position:0 -140px}
.bank-ceb { background-position:0 -168px}
.bank-gdb { background-position:0 -196px}
.bank-hkb { background-position:0 -224px}
.bank-hzb { background-position:0 -252px}
.bank-hengfeng { background-position:0 -280px}
.bank-hxb { background-position:0 -308px}
.bank-ccb { background-position:0 -336px}
.bank-jsb { background-position:0 -364px}
.bank-bcom { background-position:0 -392px}
.bank-jinghua { background-position:0 -420px}
.bank-cmbc { background-position:0 -448px}
.bank-njcb { background-position:0 -476px}
.bank-nbcb { background-position:0 -504px}
.bank-abc { background-position:0 -532px}
.bank-pab { background-position:0 -560px}
.bank-spdb { background-position:0 -588px}
.bank-qdccb { background-position:0 -616px}
.bank-srcb { background-position:0 -644px}
.bank-shb { background-position:0 -672px}
.bank-sdb { background-position:0 -700px}
.bank-wzcb { background-position:0 -728px}
.bank-cib { background-position:0 -756px}
.bank-cmb { background-position:0 -784px}
.bank-zjtl { background-position:0 -812px}
.bank-boc { background-position:0 -840px}
.bank-postgc { background-position:0 -868px}
.bank-citic { background-position:0 -896px}
.bank-cqrcb { background-position:0 -924px}
.bank-cqcb { background-position:0 -952px}
.bank-gzrcc { background-position:0 -980px}
.bank-gzcb { background-position:0 -1008px}
.bank-hsb { background-position:0 -1036px}
.bank-czb { background-position:0 -1064px}
.bank-bonc { background-position:0 -1092px}
.bank-gdnyb { background-position:0 -1120px}
.bank-chab { background-position:0 -1148px}
.bank-dylscz { background-position:0 -1177px}
.bank-dzb { background-position:0 -1205px}
.bank-lwb { background-position:0 -1233px}
.bank-qsb { background-position:0 -1260px}
.bank-rzb { background-position:0 -1289px}
.bank-tab { background-position:0 -1317px}
.bank-lsb { background-position:0 -1345px}
.bank-wfccb { background-position:0 -1373px}
.bank-ordos { background-position:0 -1401px}
.bank-boxm { background-position:0 -1430px}
.bank-bolj { background-position:0 -1456px}
.bank-jzcb { background-position:0 -1484px}
.bank-jjccb { background-position:0 -1512px}
.bank-cjccb { background-position:0 -1568px}
.bank-boly { background-position:0 -1596px}

.pay-logo { background-image:url(../images/pay-logo.png); display:block; width:140px; height:28px; overflow:hidden; text-indent:-9999px}
.pay-chinabank { background-position:-5px -5px}
.pay-weixin { background-position:0 -42px}
.pay-99bill { background-position:0 -82px}
.pay-unionpay { background-position:0 -120px}
.pay-cmpay { background-position:0 -158px}
.pay-kara { background-position:0 -244px}
.pay-tenpay { background-position:0 -473px}


