
/**头部**/
#header{
	background:#fff; min-width:1200px; position:relative; z-index:1001; width:100%;
	-webkit-box-shadow:rgba(0,0,0,0.3) 0px 0px 4px; -moz-box-shadow:rgba(0,0,0,0.3) 0px 0px 4px; box-shadow:rgba(0,0,0,0.3) 0px 0px 4px;
	}
#header.header-order{ border-bottom:none!important;}
#header.header-order .user-account{ float:right;}
#header.header-order .user-account a{}

#header .toper { background-color:#f7f9fa; border-bottom:1px solid #eee; color:#333; height:36px; line-height:36px;}
#header .toper .wrapper{ position:relative;}
#header .toper a,
#header .toper a:visited{ color:#333;}
#header .toper a:hover{ color:#e60000; text-decoration:none;}

#header .top-nav { position:absolute; top:0px; right:188px; z-index:1002; }
#header .top-nav .sep{ border-left:1px solid #888; display:inline-block; float:left; height:12px; line-height:12px; margin:10px 8px 0px 8px; vertical-align:middle; width:1px; overflow:hidden;}
#header .top-nav a{ float:left; text-align:center;  padding:0px 10px;}
#header .top-nav a,
#header .top-nav a:visited{ color:#333; }
#header .top-nav a:hover{ color:#e60000; padding-bottom:10px; text-decoration:none; }
#header .welcome { font-size:12px; float:left; }
#header .welcome .worktime{ padding-left:10px;}
#header .welcome .tel{ padding-left:12px;}
/**user**/
#header .user-status { padding-right:12px;}
#header .user-status a.a-login{ padding:0px 10px;}
#header .user-status a.a-reg{ padding:0px 10px;}
#header .user-status a.username{ font-weight:600; padding:0px 10px 0px 10px;}
#header .user-status .sep{ border-left:1px solid #aaa; display:inline-block; height:12px; line-height:12px; margin:0px 10px 0px 11px; vertical-align:middle; width:1px; overflow:hidden;}
#header .user-status a:hover{ color:#e60000;}
/**header**/
#header .header-line{ background-color:#fff; height:90px;}
#header .header-line .wrapper{ position:relative; z-index:991;}
#header .header-line .logo{ display:inline-block; float:left; padding-top:0px;}
#header .header-line .logo img{ max-height:90px;}
/*搜索*/
#header .search{ position:absolute; right:0px; top:5px; background:#ddd;}
#header .search .search-form{ height:26px; padding:0px 0px 0px 0px; position:relative;}
#header .search .search-form .search-text{ float:left;}
#header .search .text-search{ border:1px solid #e6e6e6; border-right:none; color:#aaa; float:left; font-size:12px; height:20px; line-height:20px; padding:2px 8px 2px 8px; width:110px;}
#header .search .text-search:focus{ color:#222;}
#header .search .btn-search{ background-color:#fff; border:1px solid #e6e6e6; color:#666; float:left; font-size:12px; height:26px; line-height:20px; padding:2px 0px; width:48px;}
#header .search .btn-search:active{ background-color:#0d6f4b; border-color:#0d6f4b; color:#fff;}
#header .search .search-keywords{ display:none; height:24px; line-height:24px; padding:0px 0px 4px 0px; position:absolute; top:6px; right:70px;}
#header .search .search-keywords a{ background-color:#fafafa; display:inline-block; height:18px; line-height:18px; margin-left:5px; padding:0px 4px 0px 4px;}
#header .search .search-keywords a,
#header .search .search-keywords a:visited{ color:#424242;}
#header .search .search-keywords a:hover{color:#36aa00; text-decoration:none;}
/*购物车*/
#header .header-line .toper-cart{ position:absolute; right:330px; top:-30px; }
#header .header-line .toper-cart a,
#header .header-line .toper-cart a:visited{ color:#fff;}
#header .header-line .cart{ background:url("../images/icon_cart.png") 12px 2px no-repeat; border:0px solid #e6e6e6; display:inline-block; font-size:12px; height:28px; line-height:28px; padding:0px 16px 0px 36px;width:90px; text-align:center;}
#header .header-line .cart .cart-amount{ font-weight:bold; padding:0px 2px;}
#header .header-line .cart .cart-amount-has-goods{ color:#f30000; font-size:14px; vertical-align:middle;}
#header .header-line .cart,
#header .header-line .cart:visited{ color:#fff;}
#header .header-line .cart:hover{ color:#e60000; text-decoration:none;}
#header .header-line .cart:hover .cart-amount{}
#header .header-line .ucenter { display:none;}
#header .header-line .ucenter a{ background:#fff url("../images/icon_ucenter.png") 10px 3px no-repeat; border:1px solid #e6e6e6; display:inline-block; font-size:12px; height:28px; line-height:28px; position:absolute; right:200px; top:-35px; padding:0px 16px 0px 36px;}
#header .header-line .ucenter a:hover{ background-color:#fff; border:1px solid #36aa00; color:#36aa00; text-decoration:none;}
/*导航*/
#header .main-nav{ float:right;}
#header .main-nav li.n1{ float:left; position:relative; z-index:999;}
#header .main-nav li.n1 a.n1{ display:inline-block; display:block; font-size:18px; font-weight:normal; height:40px; line-height:40px; padding:25px 12px 25px 12px; position:relative; z-index:999; text-align:center;}
#header .main-nav li.n1 a.n1,
#header .main-nav li.n1 a.n1:visited{ color:#444; }
#header .main-nav li.n1 a.n1:hover,
#header .main-nav li.n1.hover a.n1,
#header .main-nav li.n1.current a.n1{ color:#000; text-decoration:none; }
/*二级菜单*/
#header .main-nav .subnav { background-color:#fff; -webkit-box-shadow:rgba(0,0,0,0.5) 0px 2px 5px; -moz-box-shadow:rgba(0,0,0,0.5) 0px 2px 5px; box-shadow:rgba(0,0,0,0.5) 0px 2px 5px; display:none; position:absolute; width:auto; top:90px; left:0px; z-index:901;}
#header .main-nav .subnav ul { background:none; display:block; padding:10px 0px 20px 0px;}
#header .main-nav .subnav ul li { display:block; float:none; font-size:16px; font-weight:normal; position:relative;}
#header .main-nav .subnav ul li a { display:block; height:32px; line-height:32px; padding:5px 25px 5px 25px; min-width:150px; white-space:nowrap;}
#header .main-nav .subnav ul li a,
#header .main-nav .subnav ul li a:visited { color:#333; text-decoration:none;}
#header .main-nav .subnav ul li a:hover { background:#c60000; color:#fff; }
#header .main-nav .subnav ul li:last-child a { border-bottom:none;}

.ow-subsite-menu{ background-color:#404040; height:56px; line-height:56px; overflow:hidden;}
.ow-subsite-menu .section{ margin:0px auto; width:1200px;}
.ow-subsite-menu .section li{ float:left;}
.ow-subsite-menu .section li a{ display:inline-block; line-height:56px; padding:0px 20px;}
.ow-subsite-menu .section li a,
.ow-subsite-menu .section li a:visited{ color:#fff; font-size:16px;}
.ow-subsite-menu .section li a:hover{ background-color:#2a2a2a; text-decoration:none;}
.ow-subsite-menu .section li.current a{ background-color:#2a2a2a; }

/*网页底部*/
#footer { background:#fff; border-top:1px solid #ddd; color:#555; margin:0px auto; min-width:1200px;}
#footer .footer-section{ padding:0px 0px 20px 0px; zoom:1; overflow:auto;}
#footer .footer-section .wrapper{ vertical-align:top; position:relative;}
#footer a,
#footer a:visited{ color:#555; }
#footer a:hover{ color:#e60000; }

#footer .col-contact { float:left; margin:30px 0px 40px 0px; width:400px; padding:0px 40px 20px 0px; }
#footer .col-contact h3 { color:#333; font-size:20px; font-weight:normal; }
#footer .col-contact p.text1{ font-size:13px; padding:15px 0px;}
#footer .col-contact p.text2{ font-weight:bold;}

#footer .col-cates{ float:left; padding:30px 0px 30px 50px; width:520px;}
#footer .col-cates dl{ float:left; margin:0px 15px 0px 0px; width:150px;}
#footer .col-cates dl.item3{ margin-right:0px;}
#footer .col-cates dl dt{ color:#333; font-size:16px; padding:0px 0px 10px 0px;}
#footer .col-cates dl dd{ font-size:13px; height:24px; line-height:24px; padding:3px 0px 3px 1px;}
#footer .col-cates a:hover{ color:#e60000; text-decoration:none;}

#footer .col-qrcode{ padding:35px 0px 0px 0px; width:160px; text-align:center; position:absolute; right:30px; }
#footer .col-qrcode img{ border:1px solid #ddd; height:120px; width:120px;}
#footer .col-qrcode h3{ padding:12px 0px 2px 0px;}
#footer .col-qrcode p{}

#footer .powered-by{ background:#fafafa; border-top:1px solid #eee; border-bottom:1px solid #eee; font-size:12px; padding:12px 0px;}
#footer .powered-by .copyright{}
#footer .powered-by .icp{ padding-left:5px;}
#footer .powered-by .gov-beian{ padding-left:5px;}
#footer .powered-by .gov-beian img{ max-height:20px; max-width:20px; }
#footer .powered-by .stat{ font-style:normal; padding-left:5px;}
#footer .powered-by .powered{ float:right; font-size:12px; padding-right:25px;}
#footer .powered-by .powered a{ padding:0px 3px;}
/****************************************************************************************************/

/*banner*/
.ow-banner { background:#fcfcfc; min-width:1200px;}
.ow-main-banner{}
.ow-top-banner{ background:#334259;}
.ow-top-banner .section{ color:#fff; min-height:100px; margin:0px auto; padding:45px 0px 52px 0px; width:1200px;}
.ow-top-banner .banner-title{ font-size:38px; font-weight:normal;}
.ow-top-banner .banner-subtitle{ font-size:18px;}

/*网页中间内容区*/
#mbody { margin:auto; min-width:1200px;}
#mbody:after {clear:both; content:"."; display:block; height:0px; visibility:hidden;}
#idx-mbody{ min-width:1200px;}

/**返回顶部**/
.ow-floater{ width:40px; position:fixed; _position:absolute; bottom:10px; right:10px; z-index:9999; filter:alpha(opacity=100); opacity:1.0;}
.ow-floater a{ background-image:url("../images/float_bar.png"); display:inline-block; height:40px; margin:0px; width:40px; padding:0px; vertical-align:top;}
.ow-floater a,
.ow-floater a:visited{ background-color:#36aa00;}
.ow-floater a:hover{ background-color:#b50005;}
.ow-floater a.top{ background-position:0px 0px;}
.ow-floater a.top:hover{ background-position:40px 0px;}
.ow-floater a.feedback{ background-position:0px -40px;}
.ow-floater a.feedback:hover{ background-position:40px -40px;}
.ow-floater a.faq{ background-position:0px -80px;}
.ow-floater a.faq:hover{ background-position:40px -80px;}

/*公告*/
.ow-notice{ background-color:#ffdb3d; color:#222; display:none; font-size:16px; padding:10px; text-align:center;}

#d_ow_notice{}
#d_ow_notice .ow-dialog-title{ background-color:#fff; border:1px solid rgba(0,0,0,0.8); border-bottom:none; color:#de0000; font-size:22px; padding:30px 0px 15px 0px; text-align:center;}
#d_ow_notice .ow-dialog-content{ border-top:none;}
#d_ow_notice .ow-dialog-content .ow-notice-dialog{ background-color:#fff; color:#333; font-size:18px; line-height:200%; padding:0px 40px 20px 40px; width:700px;}
#d_ow_notice .ow-dialog-buttons{ background-color:#fff; border:1px solid rgba(0,0,0,0.8); border-top:none; padding:0px 0px 20px 0px;}
#d_ow_notice .btn{ background-color:#fff; background-image:none; color:#666; font-weight:normal!important; font-size:15px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; border:1px solid #ddd; text-shadow:none; -webkit-border-radius:0px; -moz-border-radius:0px; line-height:24px;}
#d_ow_notice .btn:hover{ background-color:#f4f4f4; border:1px solid #aaa; color:#333;}

/*页面导航面包屑*/
.ow-breadcrumb{ color:#aaa; height:24px; line-height:24px; margin:0px; padding:10px 0px 5px 0px;}
.ow-breadcrumb .sep{ font-family:宋体,arial; font-size:80%; line-height:inherit; padding:0px 5px;}
.ow-breadcrumb a,.breadcrumb a:visited{ color:#aaa;}
.ow-breadcrumb a:hover{ color:#0d6f4b; text-decoration:none;}


/*内容类型筛选*/
.ow-content-type{ border-bottom:1px solid #e6e6e6; margin:0px auto 0px auto; max-width:1200px;}
.ow-content-type .type-header{ font-size:14px; padding:2px 0px; }
.ow-content-type .type-section{}
.ow-content-type .type-line{ border-top:1px dotted #eee8e8; overflow:hidden; padding:0px 0px 6px 0px; position:relative;}
.ow-content-type .type-line .type-attr{ color:#424242; float:left; font-weight:bold; padding:6px 2px 0px 5px; text-align:right; width:80px; }
.ow-content-type .type-line .type-value{ float:left; width:670px;}
.ow-content-type .type-line .type-value ul{ padding:4px 0px 0px 4px;}
.ow-content-type .type-line .type-value li{ float: left; height:20px; line-height:20px; margin-right:8px; white-space:nowrap; padding:2px 0px;}
.ow-content-type .type-line .type-value li a{ display:inline-block; height:20px; line-height:20px; padding:1px 6px;}
.ow-content-type .type-line .type-value li a.current{ background:#686868; color:#fff;}
.ow-content-type .type-line .type-value li a.current:hover{ text-decoration:none; cursor:default;}

/*案例*/
.gallery-pic { margin:0px auto; padding:20px 0px; width:1000px;  }
.gallery-pic .gallery-list{ height:79px; margin:0px 0px 10px 0px; padding:0px 0px 0px 0px; overflow:hidden; position:relative; width:1000px;}
.gallery-pic .gallery-list ul{ margin-left:-9px; padding:0px 0px; zoom:1; overflow:auto; position:absolute;}
.gallery-pic .gallery-list li{ background:#fff; border:1px solid #ccc; float:left; height:75px; margin:0px 0px 0px 10px; width:112px; padding:1px; overflow:hidden; text-align:center;}
.gallery-pic .gallery-list li:first-child{}
.gallery-pic .gallery-list li a{ display:inline-block; height:75px; width:112px; overflow:hidden;}
.gallery-pic .gallery-list li img{ min-height:75px; width:112px;}
.gallery-pic .gallery-list li.current{ border:2px solid #C30008; padding:0px;}
.gallery-pic .gallery-list a.turner { background-image:url("../images/turner-pre-next.png"); display:inline-block; height:30px; position:absolute; top:25px; width:24px;}
.gallery-pic .gallery-list a.prev{ left:10px;}
.gallery-pic .gallery-list a.prev:hover {background-position:0px 30px;}
.gallery-pic .gallery-list a.next{ background-position:24px 0px; right:10px;}
.gallery-pic .gallery-list a.next:hover {background-position:24px 30px;}

.gallery-pic .gallery-view { background:#454851; width:1000px; position:relative; z-index:1;}
.gallery-pic .gallery-view span { display:inline-block; margin:auto; text-align:center; width:1000px;}
.gallery-pic .gallery-view a{ cursor:default; padding:1px; display:block; text-align:center;}
.gallery-pic .gallery-view img { max-width:998px; width:expression(this.width > 998 ? 998 : true);}
.gallery-pic .gallery-view .mousetrap{ position:absolute; right:0px;}
.gallery-pic .gallery-view .cloud-zoom-big { left:1px; top:1px;}

/*相关内容*/
.ow-related-grid{ background:#f4f4f4; margin:0px; padding-top:30px; zoom:1; overflow:auto;}
.ow-related-grid .header{ border-bottom:1px solid #e6e6e6; padding-bottom:20px; position:relative;}
.ow-related-grid .header h2{ background:#f4f4f4; color:#888; display:inline-block; font-size:28px; font-weight:normal; height:32px; line-height:32px; padding:10px 0px; position:absolute; top:-10px; left:50%; margin-left:-140px; width:280px; text-align:center; }
.ow-related-grid .section{ padding:50px 0px; zoom:1; overflow:auto;}

/*在线客服*/
.service-online { display:inline-table; font-family:"微软雅黑"; text-shadow:0px 1px 0px #fff; margin:0px; position:absolute; right:0px; top:100px; z-index:99999999;}
.service-online a.mini {background:url("../images/service-online.png") 0px 0px no-repeat; display:inline-block; float:right; height:90px; width:30px; overflow:hidden;}
.service-online .listpanel {background:#fafafa; width:136px;}
.service-online .heading {background:url("../images/service-online.png") -40px 0px no-repeat; height:24px; line-height:24px; overflow:hidden; position:relative; }
.service-online .section {border:1px solid #ddd; padding:5px 0px 10px 0px;}
.service-online a.close {background-image:url("../images/service-online.png"); background-position:-40px -32px; display:inline-block; height:24px; width:24px; overflow:hidden; position:absolute; right:0px; top:0px;}
.service-online a.close:hover {background-position:-64px -32px;}
.service-online dl {border-bottom:1px dotted #e6e6e6; box-shadow:0px 1px 0px #fff; margin:5px 10px; padding:0px 0px 5px 0px;}
.service-online dl dt {font-size:12px; margin:0px; padding:0px;}
.service-online dl dd {margin:0px; padding:2px 0px;}
.service-online dl dd.tel {color:#c70505; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.service-online dl dd.qq a,
.service-online dl dd.crmqq a{ background:url("../images/qq-talk.png"); display:inline-block; height:22px; line-height:22px; width:92px; overflow:hidden; vertical-align:top; }
.service-online dl dd.wangwang {}

/*图片广告*/
.ow-ad-pic { margin:auto; overflow:hidden; position:relative;}
.ow-ad-pic a {position: absolute;}
.ow-ad-pic a img {}
.ow-pic-player {margin:auto; position:relative; overflow:hidden; z-index:1;}
.ow-pic-player .sliders {position:absolute; left:0px; top:0px;}
.ow-pic-player .sliders li {}
.ow-pic-player .pages {bottom:5px; position:absolute; right:10px;}
.ow-pic-player .pages a {background-color:#999; display:inline-block; font-size:9px; height:16px; line-height:16px; margin:0px 2px; width:16px; overflow:hidden; text-align:center;
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;
	}
.ow-pic-player .pages a,.ow-pic-player .pages a:visited {color:#fff; text-decoration:none;}
.ow-pic-player .pages a.current {background-color:#c30000;}
.ow-pic-player .pages a:hover {background-color:#c30000;}
.ow-pic-player .turner {position:absolute; top:42%; width:100%; background:#ddd;}
.ow-pic-player .turner a {background-image:url("../images/pic-player-pre-next.png"); display:inline-block; height:40px; width:32px; overflow:hidden;}
.ow-pic-player .turner a.prev {background-position:0px 0px; left:8px; position:absolute;}
.ow-pic-player .turner a.prev:hover {background-position:0px 40px;}
.ow-pic-player .turner a.next {background-position:32px 0px; position:absolute; right:8px;}
.ow-pic-player .turner a.next:hover {background-position:32px 40px;}

.index-banner-section .ow-pic-player .pages { bottom:15px; position:absolute; right:10px;}
.index-banner-section .ow-pic-player .pages a { font-size:10px; height:24px; line-height:24px; margin:0px 5px; width:24px; overflow:hidden; text-align:center; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;}
.index-banner-section .ow-pic-player .pages a,.ow-pic-player .pages a:visited {color:#fff; text-decoration:none;}
.index-banner-section .ow-pic-player .pages a.current {background-color:#c30000;}
.index-banner-section .ow-pic-player .pages a:hover {background-color:#c30000;}
.index-banner-section .ow-pic-player .turner { position:absolute; top:42%; width:100%; background:#ddd;}
.index-banner-section .ow-pic-player .turner a {background-image:url("../images/pic-player-pre-next-big.png"); display:inline-block; height:80px; width:64px; overflow:hidden;}
.index-banner-section .ow-pic-player .turner a.prev {background-position:0px 0px; left:15px; position:absolute;}
.index-banner-section .ow-pic-player .turner a.prev:hover {background-position:0px 80px;}
.index-banner-section .ow-pic-player .turner a.next {background-position:64px 0px; position:absolute; right:15px;}
.index-banner-section .ow-pic-player .turner a.next:hover {background-position:64px 80px;}

/*产品图片画廊*/
.gallery { position:relative; width:366px;}
.gallery .gallery-view { border:1px solid #aaa; height:360px; width:360px; position:relative;}
.gallery .gallery-view span { display:inline-block; height:360px; width:360px;}
.gallery .gallery-view a{ display:block; text-align:center;}
.gallery .gallery-view img { max-height:360px; max-width:360px;}
.gallery .gallery-view .mousetrap{ position:absolute; right:0px;}
.gallery .gallery-view .cloud-zoom-big { border:1px solid #ccc; left:366px; top:-1px;}
.gallery .gallery-list{ height:56px; margin:10px 0px; overflow:hidden; padding:0px 0px; position:relative; width:366px;}
.gallery .gallery-list ul{ padding:0px; zoom:1; overflow:auto; position:absolute;}
.gallery .gallery-list li{ background:#fff; border:1px solid #cdcdcd; float:left; height:54px; margin:0px 5px 0px 0px; width:54px; overflow:hidden; text-align:center;}
.gallery .gallery-list li a{ display:block;}
.gallery .gallery-list li img{ max-height:54px; max-width:54px; height:expression(this.height > 54 && this.height/this.width >= 1 ? 54 : true); width:expression(this.width > 54 && this.width/this.height >= 1 ? 54 : true);}
.gallery .gallery-list li.current{ border:2px solid #C30008; height:52px; width:52px; margin:0px 3px 0px 0px;}
.gallery .gallery-list a.turner { background-image:url("../images/turner-pre-next.png"); display:inline-block; height:30px; position:absolute; top:13px; width:24px;}
.gallery .gallery-list a.prev{ left:0px;}
.gallery .gallery-list a.prev:hover {background-position:0px 30px;}
.gallery .gallery-list a.next{ background-position:24px 0px; right:5px;}
.gallery .gallery-list a.next:hover {background-position:24px 30px;}

/*弹窗用户登录*/
.ow-loginwin{ width:278px; padding:25px 40px;}
.ow-loginwin .form-login dl dt { font-size:14px; padding:0px 10px 0px 0px;}
.ow-loginwin .form-login dl dd { margin-bottom:6px; padding:4px 10px 0px 0px;}
.ow-loginwin .form-login dl dd input.text{ font-size:14px; padding:3px 5px; width:100%;}
.ow-loginwin .form-login dl dd input.text-verifycode{ width:100px;}
.ow-loginwin .form-login dl dd .verifycode img{ height:32px; vertical-align:middle;}
.ow-loginwin .form-login dl dd .verifycode .fresh{background:#f6f6f6; border:1px solid #aaa; display:inline-block; font-size:14px; height:32px; line-height:32px; width:35px; text-align:center; vertical-align:top; overflow:hidden;}
.ow-loginwin .form-login dl dd .verifycode .fresh:hover{ text-decoration:none;}
.ow-loginwin .form-login dl.button dd{ padding:15px 0px 0px 0px;}
.ow-loginwin .form-login dl.button dd .btn{ width:100%; padding-left:0px; padding-right:0px; text-align:center;}
.ow-loginwin .form-login dl.remember dd{ padding-top:15px;}
.ow-loginwin .form-login dl.remember a,
.ow-loginwin .form-login dl.remember a:visited{ color:#888;}
.ow-loginwin .form-login dl.remember a:hover{ color:#0070d9; text-decoration:none;}
.ow-loginwin .form-login dl dd label.remember{ display:none;}
.ow-loginwin .form-login dl dd .forget{ margin-right:15px;}
.ow-loginwin .form-login dl dd .reg-member{ }
.ow-loginwin .form-login dl dd .unlogin-buy{ float:right;}

/**单选/复选框**/
.labels {}
.labels label.checkbox-inline {margin-right:10px;}
.labels label.radio-inline {margin-right:10px;}

/*验证码*/
.verifycode{}
.verifycode img{ height:26px; vertical-align:middle;}
.verifycode .fresh{ background:#f6f6f6; border:1px solid #aaa; display:inline-block; vertical-align:top; font-size:14px; font-family:"微软雅黑"; height:26px; padding:0px 6px;}

/*spans*/
.spans-inline {}
.spans-inline .headline {border-bottom:1px solid #eee; color:#666; display:inline-block; padding:0px 10px 2px 0px;}
.spans-inline .spans {padding:6px 0px 0px 0px;}
.spans-inline span {padding:0px 10px 0px 0px;}

/*加载/提交/注释/注解*/
.loading,
.posting {background:url("../images/posting.gif") 0px center no-repeat; color:#888; display:inline-block; font-size:18px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.freshing {background:url("../images/freshing.gif") 0px 0px no-repeat; color:#aaa; display:inline-block; font-size:12px; height:16px; line-height:16px; padding:2px 5px 2px 24px;}
.t-normal {color:#b2b2b2; padding:0px 0px 0px 0px;}
.t-normal.hightLigth,
.t-normal:hover{color:#4d4d4d;}

.t-ok { color:#00be00; }
.t-err { color:#ff3300; }

span.more{ float:right;}
span.more a{ background:url("../images/more.png") right 0px no-repeat; color:#888; display:inline-block; font-size:12px; height:24px; line-height:24px; padding-right:26px;}
span.more a:hover{ background-position:right -24px; color:#fc0000; text-decoration:none;}

span.raquo{ color:#fc0000; display:inline-block; font-family:Arial; font-size:120%; line-height:inherit; padding-left:10px;}
span.raquo a,span.raquo a:visited{ color:#fc0000;}
span.raquo a:hover{ color:#ac0000; text-decoration:none;}

.caret {
    border-top:4px solid;
	border-left:4px solid transparent;
    border-right:4px solid transparent;
    display:inline-block;
    margin-left:5px; vertical-align:middle;
	transform:scale(1.001); transition:all 0.25s ease 0s;
	height:0; width:0;
}

/*详细*/
.ow-editor-content-text img{}
.ow-editor-content-text table{ margin-bottom:10px; border-collapse:collapse; display:table; font-size:16px; }
.ow-editor-content-text table tr.firstRow th { border-top-width: 2px;}
.ow-editor-content-text table th{ background-color:#f7f7f7; border:1px solid #ccc; border-top:1px solid #bbb; font-weight:bold; font-size:16px; padding:5px 10px; }
.ow-editor-content-text table td{ border:1px solid #ccc; padding:5px 10px; }
