@charset "utf-8";
/* 
* Author: Lin xiao dong
* http://www.openwbs.com
*/

body{ background-color:#fff; }

.ow-product-cates { background-color:#f4f4f4;}
.ow-product-cates ul{}
.ow-product-cates ul li.n1{ display:inline-block; float:left; height:50px; line-height:50px; position:relative;}
.ow-product-cates ul li.n1 a{ display:block; font-size:16px; height:50px; line-height:50px; padding:0px 15px;}
.ow-product-cates ul li.n1 a:hover{ background-color:#eee; text-decoration:none;}
.ow-product-cates ul li.n1.current a.n1{ background-color:#2993df; border-color:#2993df; color:#fff; text-decoration:none;}
.ow-product-cates ul li.n1 .caret{ margin-left:8px;}
.ow-product-cates ul li.n1 .subcates{
	background:#fff; display:none; position:absolute; top:50px; left:0px; width:200px;
	-webkit-box-shadow:rgba(0,0,0,0.5) 0px 2px 5px; -moz-box-shadow:rgba(0,0,0,0.5) 0px 2px 5px; box-shadow:rgba(0,0,0,0.5) 0px 2px 5px; z-index:100;
}
.ow-product-cates ul li.n1 .subcates ul{ padding:10px 0px; zoom:1; overflow:auto; }
.ow-product-cates ul li.n1 .subcates ul li{ display:block;}
.ow-product-cates ul li.n1 .subcates ul li a{ display:block; float:none; height:44px; line-height:44px; }

.ow-product-cates h1.title{ font-family:幼圆; font-size:32px; font-weight:normal; margin:0px 0px; text-align:center;}

/****/
.ow-product{}
.ow-product .section{ padding:20px 0px 0px 2px; zoom:1; overflow:auto;}
.ow-product .section .pager{ margin:30px 0px; padding:50px 0px; text-align:center;}

ul.ow-product-list{ padding:20px 0px 0px 0px; zoom:1; overflow:auto; }
ul.ow-product-list li{ float:left; margin:0px 25px 35px 0px; width:280px; position:relative; }
ul.ow-product-list li.li4,
ul.ow-product-list li.li8,
ul.ow-product-list li.li12,
ul.ow-product-list li.li16,
ul.ow-product-list li.li20{ margin-right:0px;}
ul.ow-product-list li .thumb a{ background-color:#fff; border:1px solid #e6e6e6; display:block; height:172px; width:278px; text-align:center; overflow:hidden;}
ul.ow-product-list li .thumb a img{ height:168px; width:274px; padding:2px; }
ul.ow-product-list li .thumb a:hover img{ transform:scale(1.06,1.06); transition-duration:500ms; transition-timing-function:ease-out; }
ul.ow-product-list li h3{ font-size:16px; font-weight:normal; height:24px; line-height:24px; padding:18px 0px 10px 0px; overflow:hidden; text-align:center;}
ul.ow-product-list li h3 a,
ul.ow-product-list li h3 a:visited{ color:#222;}
ul.ow-product-list li h3 a:hover{ color:#fc0000; text-decoration:none;}
ul.ow-product-list li .subtitle{ color:#555; font-size:14px; line-height:150%; padding:20px 0px 0px 0px;}

/**内容详细**/
.product-gallery { float:left; width:360px; }
.product-content{ float:left; min-height:600px; width:840px;}
.product-content h1.title{ font-size:24px; font-weight:normal; margin:0px 0px 0px 0px; padding:0px 0px 10px 0px; }
.product-content .byline{ color:#aaa; line-height:12px; font-size:12px; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
.product-content .byline span{ border-right:1px solid #bbb; display:inline-block; height:12px; line-height:12px; margin:0px 8px 0px 0px; padding:0px 8px 0px 0px;}
.product-content .byline span.views{ border-right:none; }
.product-content .byline a,
.product-content .byline a:visited { color:#aaa;}
.product-content .byline a:hover{ color:#333; text-decoration:none;}
.product-content .content{ font-size:16px; line-height:200%; margin:0px 0px 0px 0px; padding:20px 0px 20px 0px; word-break:break-all; word-wrap:break-word;}
.product-content .content img{}
.product-content .tags { font-size:14px; padding:5px 0px;}
.product-content .tags a{ margin:0px 5px 0px 0px;}
.product-content .pager { margin:0px 0px 0px 0px; padding:30px 0px 30px 0px; text-align:center;}
.product-content .prev-next{ border-top:1px dotted #ddd; font-size:14px; margin:20px 0px 10px 0px; padding:10px 0px;}
.product-content .prev-next .prev{ height:24px; padding:4px 0px;}
.product-content .prev-next .next{ height:24px; padding:4px 0px;}


.gallery-product{ width:322px;}
.gallery-product .gallery-view { height:320px; width:320px;}
.gallery-product .gallery-view span.cloudzoom_wrap{ display:inline-block; height:320px; width:320px;}
.gallery-product .gallery-view a { height:320px; width:320px; display:block; text-align:center; position:absolute; overflow:hidden;}
.gallery-product .gallery-view img { max-height:320px; max-width:320px; height:expression(this.height > 320 && this.height/this.width >= 1 ? 320 : true); width:expression(this.width > 320 && this.width/this.height >= 1 ? 320 : true);}
.gallery-product .gallery-view .mousetrap{ position:absolute; max-height:320px; max-width:320px; right:0px;}
.gallery-product .gallery-view .cloud-zoom-big { border:1px solid #aaa; height:320px; width:320px; left:321px; top:-1px;}
.gallery-product .gallery-view .cloud-zoom-lens{ background:#fff;}


.gallery-product .gallery-list{ height:94px; width:613px;}
.gallery-product .gallery-list li{ margin:0px 10px 2px 0px; height:50px; width:50px;}
.gallery-product .gallery-list li img{ max-height:50px; max-width:50px; height:expression(this.height > 50 && this.height/this.width >= 1 ? 50 : true); width:expression(this.width > 50 && this.width/this.height >= 1 ? 50 : true);}
.gallery-product .gallery-list li.current{ height:50px; width:50px; margin:0px 8px 2px 0px;}
.gallery-product .gallery-list a.turner{ top:30px;}
.gallery-product .gallery-list a.next{ right:10px;}

/*相关内容*/
.ow-related-content{ border-top:1px solid #ddd; padding:10px 0px 20px 0px;}
.ow-related-content .header{ font-size:16px; font-weight:normal;}
