@charset "utf-8";
/* 
* Author: lin xiao dong
  http://www.openwbs.com/
*/
html {font-size:100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:100%; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea,th {
	color:#333;
	font:12px/1.8 "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
	/*font:12px/1.8 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",微软雅黑,tahoma,simsun,宋体;*/
}
h1,h2,h3,h4,h5,h6{font-size:100%;}
li{list-style:none;}
img{border:0 none;-ms-interpolation-mode:bicubic;}
input[type="button"],input[type='submit']{cursor:pointer;}
button{cursor:pointer}
table{border-collapse:collapse;border-spacing:0;}
th{ font-weight:bold; text-align:left;}
button,input,textarea,select,a,a:focus{outline:none;}
a{text-decoration:none;}
a,a:visited{color:#333;}
a:hover{ color:#0070d9; text-decoration:underline;}
a.color-grey,
a.color-grey:visited{ color:#888;}
a.color-grey:hover{ color:#0070d9;}
body{ background:#fff; min-width:400px; padding:0px 0px 40px 0px;}

/**/
:focus {outline:none;}
.clear {clear:both; *zoom:1;}
.clear:after{ display:block; content:" "; clear:both; height:0;}

/**/
.bold{ font-weight:bold;}
.color666{ color:#666;}
.color888{ color:#888;}
.fl{float:left;}
.fr{float:right;}
.font-10{font-size:10px;}
.font-11{font-size:11px;}
.font-12{font-size:12px;}
.font-13{font-size:13px;}
.font-14{font-size:14px;}
.font-normal{font-weight:normal; font-style:normal;}
.hide,hidden{ display:none;}
.ml5{margin-left:5px;}
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pt5{padding-top:5px!important;}
.pt10{padding-top:10px!important;}
.pt15{padding-top:15px!important;}
.pt20{padding-top:20px!important;}
.pb5{padding-bottom:5px;}
.pb8{padding-bottom:8px;}
.pb10{padding-bottom:10px;}
.width-100{ width:100px!important; min-width:auto!important;}
.width-110{ width:110px;}
.width-120{ width:120px;}
.width-130{ width:130px;}
.width-140{ width:140px;}
.width-150{ width:150px;}
.width-160{ width:160px;}
.width-170{ width:170px;}
.width-180{ width:180px;}
.width-190{ width:190px;}
.width-200{ width:200px;}
.width-210{ width:210px;}
.width-220{ width:220px;}
.width-230{ width:230px;}
.width-240{ width:240px;}
.width-250{ width:250px;}
.sep{ color:#aaa; padding:0px 10px;}
.transparent-bg{ background:url("../images/transparent-bg.png") 0px 0px repeat;}
.transparent{
	filter:alpha(opacity=80); /* internet explorer */
	-khtml-opacity:0.8;      /* khtml, old safari */
	-moz-opacity:0.8;       /* mozilla, netscape */
	opacity:0.8;           /* fx, safari, opera */
	}
.transparent_95{
	filter:alpha(opacity=95); /* internet explorer */
	-khtml-opacity:0.95;      /* khtml, old safari */
	-moz-opacity:0.95;       /* mozilla, netscape */
	opacity:0.95;           /* fx, safari, opera */
	}
.font-w-normal{ font-weight:normal;}
.text-left{text-align:left;}
.zoom{ zoom:1; overflow:auto;}
.link,
.link:visited{ color:#0096dc;}
.caret {
    border-top:4px solid;
	border-left:4px solid transparent;
    border-right:4px solid transparent;
    display:inline-block;
    margin-left:5px; vertical-align:middle;
	transform:scale(1.001); transition:all 0.25s ease 0s;
	height:0; width:0;
}
.none{ color:#888;}

/*表单 input check radio textarea select button*/
input[type="radio"],
input[type="checkbox"] { margin:0px 5px 0px 0px; padding:0px; vertical-align:middle;}
input.file{ background-color:#fcfcfc; border:1px solid #ddd; height:28px; line-height:28px; padding:2px;}
input.text,
textarea.textarea {
	background-color:#fff; border:1px solid #ccc;
	-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	color:#555; font-size:14px;
	padding:4px 8px 4px 8px;
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s;
	width:250px;
	}
input.text { height:20px; line-height:20px;}
input.text-long{ width:370px;}
input.text-short{ width:120px;}
input.text-short-s{ width:80px;}
input.text-short-mini{ width:60px;}
input.text-short-mini-c{ width:48px; text-align:center;}
input.text-short-mini-s{ width:32px; text-align:center;}
input.text-mini{ height:18px; line-height:18px; width:118px;}
input.text-fileurl{ width:300px;}
input.text-filename{ width:120px;}
input.text-imageurl{ border:1px dashed #bbb; width:272px;}
input.text-imagealt{ border:1px dotted #ccc; width:272px;}
input.text-search-keywords{ width:150px;}
input.text-large{ font-size:14px; height:32px; line-height:32px;}
input.text-price{ font-size:14px; width:80px;}
input.text-stock{ width:60px;}
input.text-goods-sn{ width:128px;}
input.text-center{ text-align:center;}

/**文本域**/
textarea.textarea{ height:80px; line-height:20px; width:360px;}
textarea.textarea-mini{ height:60px;}
textarea.textarea-high{ height:160px;}
textarea.textarea-summary{ height:80px; width:600px; vertical-align:bottom;}
textarea.textarea-long{ height:80px; width:754px;}
textarea.textarea-code{ height:80px; width:688px;}
textarea.textarea-desc{ height:160px; width:680px;}
textarea.textarea-ad-code{ height:280px; width:688px;}
textarea.textarea-editor{ height:360px; width:760px;}
textarea.textarea-reply{ height:160px; width:600px;}
textarea.textarea-attr-value{ height:160px; width:360px;}
textarea.textarea-rewrite{ height:240px; width:100%;}
/**下拉**/
select {
	border:1px solid #bbb; color:#333; height:30px; line-height:30px;
    margin:0px 0px;
	vertical-align:top;
	padding:0px 4px;
	font-size:14px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
select option { border-bottom:1px solid #eee; height:24px; line-height:24px; padding:6px 6px 0px 6px;}
select optgroup {font-style:normal; padding:2px 0px 2px 0px;}
select optgroup option:first-child {margin-top:3px;}
/**聚焦和经过状态**/
input.text:hover,
input.text:focus,
textarea.textarea:hover,
textarea.textarea:focus,
select:hover,
select:focus{
	background:#fcfcfc;
	border:1px solid #3498db;
	color:#000;
	-webkit-box-shadow:0px 0px 3px #6bafdc;
	-moz-box-shadow:0px 0px 3px #6bafdc;
	box-shadow:0px 0px 3px #6bafdc;
	}
/**无效状态**/
input.disabled,
input.disabled:hover,
input.disabled:focus,
select.disabled,
select.disabled:hover,
select.disabled:focus{
	background:#eee;
	border:1px solid #ccc;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#888;
	text-shadow:0px 0px 1px #fff;
}
input.readonly,
input.readonly:hover,
input.readonly:focus{
	background:#f6f6f6;
	border:1px solid #aaa;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#666;
	text-shadow:0px 0px 1px #fff;
}
/**时间**/
input.text-short-datetime{ width:160px;}
input.text-datetime,
input.text-datetime:hover,
input.text-datetime:focus{ background-image:url("../images/icons/datetime.png"); background-repeat:no-repeat; background-position:center right;}

/*
 * 各种按钮
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	cursor:pointer;
	-webkit-appearance:button;
}
.btn,
.btn:visited{
	background-color:#eee;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e6e6e6));
	background-image:-webkit-linear-gradient(#f6f6f6,#e6e6e6);
	background-image:-moz-linear-gradient(#f6f6f6,#e6e6e6);
	background-image:-o-linear-gradient(#f6f6f6,#e6e6e6);
	background-image:linear-gradient(#f6f6f6,#e6e6e6);
	-webkit-box-shadow:#fff 0px 1px 0px inset;
	-moz-box-shadow:#fff 0px 1px 0px inset;
	box-shadow:#fff 0px 1px 0px inset;
	border:1px solid #aaa;
	border-bottom-color:#888;
	color:#555;
	text-shadow:0px 1px 0px #f8f8f8;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	display:inline-block; font-size:14px; line-height:20px; padding:3px 11px 3px 11px; position:relative;
}
.btn:hover{
	background-color:#ddd;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d8d8d8));
	background-image:-webkit-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:-moz-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:-o-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:linear-gradient(#e8e8e8,#d8d8d8);
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset;
	-moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset;
	box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset;
	border-color:#888;
	border-bottom-color:#666;
	color:#333;
	text-decoration:none;
}
button.btn{}
a.btn{ padding:4px 14px 4px 14px;}
.btn-big-large{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-family:"微软雅黑"; font-size:16px; line-height:22px; padding:6px 25px;}
a.btn-big-large{ line-height:22px; padding:7px 25px;}
.btn-large{-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;line-height:22px; padding:2px 15px 2px 15px;}
a.btn-large{ line-height:22px; padding:3px 15px 3px 15px;}
.btn-small{ font-size:12px; font-weight:normal; line-height:16px; padding:2px 7px 2px 7px;}
a.btn-small{ line-height:18px; padding:2px 9px 2px 9px;}
.btn-mini{ font-size:12px; font-weight:normal; font-size:10.5px; line-height:14px; padding:2px 4px 2px 4px;}
a.btn-mini{ line-height:16px; padding:2px 7px 2px 7px;}
.btn-font-bold{ font-weight:bold;}
.btn-font-normal{ font-weight:normal;}
.btn-primary,.btn-primary:visited{
	background-color:#37548e;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e5e9c), color-stop(100%, #304a80));
	background-image:-webkit-linear-gradient(#3e5e9c,#304a80);
	background-image:-moz-linear-gradient(#3e5e9c,#304a80);
	background-image:-o-linear-gradient(#3e5e9c,#304a80);
	background-image:linear-gradient(#3e5e9c,#304a80);
	-webkit-box-shadow:#6783bb 0 1px 0 inset; -moz-box-shadow:#6783bb 0 1px 0 inset; box-shadow:#6783bb 0 1px 0 inset;
	border:1px solid #273c67;
	border-bottom-color:#22355d;
	color:#eee;
	text-shadow:0px 1px 0px #2e467c;
}
.btn-primary:hover{
	background-color:#2c4475;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#314b81), color-stop(100%,#22345b));
	background-image:-webkit-linear-gradient(#314b81,#22345b);
	background-image:-moz-linear-gradient(#314b81,#22345b);
	background-image:-o-linear-gradient(#314b81,#22345b);
	background-image:linear-gradient(#314b81,#22345b);
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	border-color:#1a2a4b;
	border-bottom-color:#152441;
	color:#fff;
}
.btn.disabled,
.btn.disabled:hover{
	background-color:#ddd; background-image:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; border-color:#bbb; color:#888; cursor:default; font-weight:normal; text-shadow:0px 1px 0px #fff;
}
.btn-right-angle{ -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;}
a.btn-icon{ border:1px solid #ccc; height:14px; line-height:14px; padding:2px 4px;}
.btn i.glyphicon{ margin:0px 5px 0px 0px;}

/*弹出框*/
.ow-dialog{
	-webkit-box-shadow:rgba(0,0,0,0.5) 0px 1px 8px; -moz-box-shadow:rgba(0,0,0,0.5) 0px 0px 8px; box-shadow:rgba(0,0,0,0.5) 0px 0px 8px;
	padding:0px; position:absolute; z-index:1001; top:100px; left:200px;}
.ow-dialog-wrapper{ background:#fff;}
.ow-dialog-titleBar{  cursor:move; position:relative;}
.ow-dialog-title{ background:#395692; color:#fff; height:24px; line-height:24px; padding:0px 10px; left:0px;}
.ow-dialog-close{ background-image:url("../images/dialog-close.png"); background-position:0px 0px; display:inline-block; height:24px; width:24px; overflow:hidden; position:absolute; right:1px; top:1px;}
.ow-dialog-close:hover{ background-color:#fff; background-position:0px -24px;}
.ow-dialog-main{ }
.ow-dialog-content{ background:#fcfcfc; border:1px solid rgba(0,0,0,0.8); border-bottom:none; font-size:14px; overflow:auto;}
.ow-dialog-content-success { background:#17a000; border:1px solid rgba(0,0,0,0.2); color:#fff; font-size:14px; padding:18px 26px 18px 26px;}
.ow-dialog-content-error   { padding:18px 36px 18px 26px;}
.ow-dialog-content-error > h5.error-text{ color:#d10000; font-size:14px; font-weight:normal; }
.ow-dialog-content-error > dl.error-msg{ border-top:1px dotted #ddd; font-size:12px; margin-top:6px; padding-top:6px;}
.ow-dialog-content-error > dl.error-msg dt{ color:#aaa; font-weight:bold;}
.ow-dialog-content-error > dl.error-msg dd{ color:#666;}
.ow-dialog-loading{ background:url("../images/loading.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.ow-dialog-posting{ background:url("../images/posting.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.ow-dialog-iframe{ height:100%; width:100%;}
.ow-dialog-footer{ border-bottom:1px solid rgba(0,0,0,0.8); }
.ow-dialog-buttons{ background:#f6f6f6; border-left:1px solid rgba(0,0,0,0.8); border-right:1px solid rgba(0,0,0,0.8); border-top:1px solid #eee; padding:6px 20px; text-align:center;}
.ow-dialog-buttons button{ margin:0px 5px;}
.ow-dialog-timeout{ color:#121212; bottom:-25px; position:absolute; text-align:center; text-shadow:0px 1px 0px rgba(255,255,255,0.28);  width:100%;}
.ow-dialog-shadow{ background-color:#000; filter:alpha(opacity=60); opacity:0.6; left:0px; top:0px; width:100%; height:100%; position:fixed; visibility:visible; z-index:1000;}
.ow-dialog-shadow iframe{ filter:alpha(opacity=10); opacity:0.1;}
.ow-dialog .server-data{ border-top:1px dotted #e6e6e6; color:#999; display:none; margin:5px 0px 0px 0px; padding-top:5px; word-break:break-all; word-wrap:break-word;}


/*分页*/
.pages-style{clear:both; display:block; line-height:34px; margin:10px 5px 10px 5px;}
.pages-style a,
.pages-style a:active,
.pages-style a:link,
.pages-style a:visited{
	background:#fff; border:1px solid #ccc; color:#777; clear:both; display:inline-block; font-size:12px; font-weight:bold; margin:2px; padding:0px 10px; text-decoration:none;
	}
.pages-style a:hover{ border:1px solid #06c; color:#06c; text-decoration:none; }
.pages-style span.current{background:#5197e7; border:1px solid #06c; color:#fff; display:inline-block; font-size:12px; font-weight:bold; margin:2px; padding:0px 10px}
.pages-style span.extend,
.pages-style span.unlink{background:#9c9c9c; border:1px solid #555; color:#fff; display:inline-block; font-size:12px; font-weight:bold; margin:2px; padding:0px 10px}

/*错误输出*/
.error-display{ margin:8px; padding:15px 10px;}
.error-display h3{ border-bottom:1px solid #e6e6e6; font-family:"微软雅黑"; font-weight:normal; font-size:22px; padding:0px 0px 5px 0px;}
.error-display ul{ font-size:14px; padding:10px 0px;}
.error-display ul li{ border-bottom:1px solid #e6e6e6; border-left:3px solid #ff5a00; padding:8px 0px 8px 10px;}
.error-display .buttons{ padding:10px 0px 0px 0px;}
.error-display .buttons a{ margin-right:5px;}

/*操作输出*/
.action-display{ margin:8px; padding:20px 10px;}
.action-display h3{ border-bottom:1px solid #ddd; font-family:"微软雅黑"; font-weight:normal; font-size:22px; padding:0px 0px 5px 0px;}
.action-message{ border-bottom:1px solid #dadada; border-left:3px solid #2ec200; font-size:14px; margin:10px 0px; padding:12px 10px;}
.action-display .buttons{ padding:10px 0px 0px 0px;}
.action-display .buttons a{ margin-right:5px;}
.action-display.failed .action-message{ border-left:3px solid #f00;}

/*注释/注解*/
.loading,
.posting{ background:url("../images/loading.gif") 0px center no-repeat; color:#aaa; display:inline-block; font-size:14px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.freshing{ background:url("../images/freshing.gif") 0px 0px no-repeat; color:#aaa; display:inline-block; font-size:12px; height:16px; line-height:16px; padding:2px 5px 2px 24px;}
.t-normal{ color:#777; font-size:12px; padding:0px 0px 0px 0px;}
.t-normal.hightLigth{ color:#d30000;}

.t-ok { color:#00be00;}
.t-err { color:#ff3300;}

/**价格**/
span.money { font-family:verdana; }
span.money em{ font-style:normal;}
span.money b{ font-weight:normal;}


