@charset "utf-8";

/*
* OpenWBS缓存管理系统
* update: 2013-11-26
*/
.create-grid{ background:#fafafa; border-bottom:0px solid #aaa; color:#aaa; height:100px; padding:0px 0px 0px 5px; }





















