@charset "utf-8";

/*
* OpenWBS文件管理系统
* update: 2013-03-30
*/

.filemanage_body{ padding:0px;}
.filemanage_tip{ background:#fafafa; border:1px solid #d2d0d6; border-top:0px; color:#888; padding:5px 10px;}

.filemanage{ border:1px solid #d2d0d6;}
.filemanage .asider{ background:#fff; border-right:1px solid #d2d0d6; box-shadow:inset 0px 0px 10px #ebebec; -webkit-box-shadow:inset 0px 0px 10px #ebebec; vertical-align:top; width:10%;}
.filemanage .section{ background:#fff; border-right:1px solid #d2d0d6; float:none; margin:0px; vertical-align:top; width:90%; padding:0px;}
.filemanage .rsider{}

/*
* 文件树结构
*/
.foldertree{ width:180px; padding:0px 0px; overflow:hidden;}
.foldertree .folder{ border-bottom:1px solid #efeff0; height:24px; line-height:24px; padding:4px 0px 4px 0px;}
.foldertree .folder:hover{ background:#f5f7fb; background:-moz-linear-gradient(top,#fafbfd,#edf1f8); border-bottom:1px solid #cedaeb;}
.foldertree .folder.current{ background:#eef2f9; background:-moz-linear-gradient(top,#f5f7fb,#e6ebf4); border-bottom:1px solid #cedaeb; }
.foldertree .folder a.node{ background:url("../images/filemanage/icons_foldermanage.png") -2px -24px no-repeat; display:inline-block; float:left; height:24px; width:20px;}
.foldertree .folder a.foldername{ float:left; font-size:12px; height:24px; position:relative;}
.foldertree .folder a.foldername em{ background:url("../images/filemanage/icons_foldermanage.png") 0px 0px no-repeat; display:inline-block; float:left; height:24px; left:-2px; margin:0px; width:24px; position:absolute;}
.foldertree .folder a.foldername i{ cursor:pointer; float:left; font-style:normal; height:24px; line-height:24px; padding-left:24px; position:absolute; overflow:hidden; width:160px; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.foldertree .folder a,.foldertree .folder a:visited{ color:#424242;}
.foldertree .folder a:hover{ color:#424242; text-decoration:none;}
.foldertree .folder a.loading{ background:url("../images/loading.gif") 0px center no-repeat; display:inline-block; height:24px; line-height:24px; padding:0px;}

.foldertree .open a.node{ background-position:-26px -24px;}
.foldertree .open a.foldername em{ background-position:-24px 0px;}

.foldertree .folder a.single{ background:none; cursor:pointer;}
.foldertree .folder a.loading{ background:url("../images/filemanage/loading.gif") center center no-repeat;}

.foldertree .subfolders .folder{ padding-left:8px;}
.foldertree .subfolders .subfolders .folder{ padding-left:16px;}
.foldertree .subfolders .subfolders .subfolders .folder{ padding-left:24px;}
.foldertree .subfolders .subfolders .subfolders .subfolders .folder{ padding-left:32px;}
.foldertree .subfolders .subfolders .subfolders .subfolders .subfolders .folder{ padding-left:40px;}
.foldertree .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .folder{ padding-left:48px;}
.foldertree .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .folder{ padding-left:56px;}
.foldertree .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .folder{ padding-left:64px;}
.foldertree .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .subfolders .folder{ padding-left:72px;}

/*
* 文件管理区
*/
.filemanage .container{}
.filemanage .menuline{ background:#efeff0; background:-moz-linear-gradient(top,#fefefe,#efeff0); border-bottom:1px solid #e3e2e4; height:36px; padding:0px 12px 0px 10px; position:relative;}
.filemanage .menuline #selectall{ float:left; margin:8px 0px 0px 0px; padding-right:10px;}
.filemanage .listtype{ border:1px solid #aaa; right:20px; position:absolute; top:6px; }
.filemanage .listtype li{ float:left; height:24px; width:24px; overflow:hidden;}
.filemanage .listtype a{ background-image:url("../images/filemanage/icons_foldermanage.png"); border:none; padding:0px; margin:0px; display:inline-block; height:24px; width:24px; }

.filemanage .listtype a.thumb{ background-position:0px -48px;}
.filemanage .listtype a.list{ background-position:-24px -48px;}

.filemanage .listtype li.current a.thumb{ background-position:0px -72px;}
.filemanage .listtype li.current a.list{ background-position:-24px -72px;}

/**路径**/
.filemanage .dirpath{ background:#f5f5f6; border-bottom:1px solid #e3e2e4; color:#aaa; padding:0px 0px 0px 5px; }
.filemanage .dirpath .folderroot{ color:#666; padding:0px 2px 0px 0px;}
.filemanage .dirpath .folderroot em{ background:url("../images/filemanage/icons_foldermanage.png") 0px 0px no-repeat; display:inline-block; float:left; height:24px; margin:2px 0px 0px 0px; width:24px;}
.filemanage .dirpath .folder{ font-size:12px; font-family:Arial, Helvetica, sans-serif; height:28px; line-height:28px;}
.filemanage .dirpath .folder a{ color:#005EAE; display:inline-block; padding:0px 6px;}
.filemanage .dirpath .folder a:hover{ background:#f5f7fb; background:-moz-linear-gradient(top,#fafbfd,#edf1f8); border-left:1px solid #cedaeb; border-right:1px solid #cedaeb; color:#005EAE; padding:0px 5px; text-decoration:none;}
.filemanage .dirpath .raquo{ margin:0px 2px;}

.filemanage .operationtip{}
.filemanage .redundant_tip{ background:#ebeff7; border:2px solid #7f9dcb; color:#4c74b6; font-size:14px; padding:10px;}
.filemanage .filelist{ padding:0px 0px 10px 0px; zoom:1; overflow:auto;}
.filemanage dl{ padding:0px 0px; }

/**列表**/
.filemanage dl .checkbox{ float:left; width:30px; padding-left:10px;}
.filemanage dl .name{ float:left; width:50%; padding-left:10px;}
.filemanage dl .name em{ color:#aaa; font-style:normal; padding:0px 10px;}
.filemanage dl .datetime{ float:left; width:20%; padding-left:10px;}
.filemanage dl .size{ float:left; width:10%; padding-left:10px;}

.filemanage dt{ background:-moz-linear-gradient(top,#f5f5f6,#fff); color:#666; height:24px; line-height:24px; margin:0px 0px 10px 0px; overflow:hidden;}
.filemanage dt .checkbox{ margin-top:3px;}
.filemanage dt .name{ border-left:1px solid #eee;}
.filemanage dt .datetime{ border-left:1px solid #eee;}
.filemanage dt .size{ border-left:1px solid #eee;}

.filemanage dl dd{ border-bottom:1px solid #eee; height:32px; line-height:32px; overflow:hidden; padding:4px 0px;}
.filemanage dl dd:hover{background:#f5f7fb; background:-moz-linear-gradient(top,#fafbfd,#edf1f8); border-bottom:1px solid #cedaeb;}
.filemanage dl dd.selected{ background:#dfe5f0; background:-moz-linear-gradient(top,#e6ebf4,#d5dce9); border-bottom:1px solid #c0cfe3;}
.filemanage dl dd .checkbox input{ margin-top:6px;}
.filemanage dl dd .preview{ display:none;}
.filemanage dl dd .name{ float:left; height:32px; width:50%; padding-left:10px;}
.filemanage dl dd .name .icons_file{ float:left;}
.filemanage dl dd .name a{ float:left; padding:0px 0px 0px 6px;}

.filemanage dl dd .datetime{ float:left; height:32px; width:20%; padding-left:10px;}
.filemanage dl dd .size{ float:left; height:32px; width:10%; padding-left:10px;}
.filemanage dl dd a,.filemanage dd a:visited{ color:#333;}
.filemanage .none{ color:#666; padding:20px;}

/**列表形式**/
.filemanage dl.list dd .name{ position:relative;}
.filemanage dl.list dd .name a{ display:block; height:32px; line-height:32px; position:absolute; left:40px; overflow:hidden; text-overflow:ellipsis;}
.filemanage dl.list dd .name a:hover{ text-decoration:none;}
.filemanage dl.list dd.folder .name a:hover em{ color:#aaa;}

/**视图形式**/
.filemanage dl.thumb{ padding:4px 0px 0px 4px;}
.filemanage dl.thumb dt{ display:none;}
.filemanage dl.thumb dd{ background:none; border:none; float:left; height:145px; margin:4px 0px 0px 4px; padding:4px; position:relative; width:100px;}

.filemanage dl.thumb dd:hover{ background:#f7f9fc; border:1px solid #b7c9e7; border-radius:4px; height:145px; -webkit-border-radius:4px; -moz-border-radius:4px; padding:3px;}
.filemanage dl.thumb dd.selected{ 
	background:#d4ddeb; background:-moz-linear-gradient(top,#dce3f0,#c5d1e4); border:1px solid #93a9cc; border-bottom:1px solid #809ac3;
	-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.4);
	-moz-box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.4);
	box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.4);
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; padding:3px;}

.filemanage dl.thumb dd .checkbox{ display:none;}

.filemanage dl.thumb dd .preview{ display:block; height:104px; overflow:hidden; position:absolute; text-align:center; width:100px; }
.filemanage dl.thumb dd .preview img{ box-shadow:1px 1px 2px 0px #aaa; max-height:100px; max-width:100px;}

.filemanage dl.thumb dd .name{ height:36px; line-height:18px; overflow:hidden; padding:0px; position:absolute; top:110px; width:100px; text-align:center;}
.filemanage dl.thumb dd .name span{ display:none;}
.filemanage dl.thumb dd .name a{ float:none; padding:0px; word-wrap: break-word;}
.filemanage dl.thumb dd .name a:hover{text-decoration:none;}
.filemanage dl.thumb dd.file .name a:hover{ background:#ddd;}
.filemanage dl.thumb dd .name a em{ display:none;}
.filemanage dl.thumb dd .datetime{ display:none;}
.filemanage dl.thumb dd .size{ display:none;}

.filemanage dl dd.folder .name a.disabled{ cursor:pointer;}
.filemanage dl dd.folder .name a.disabled:hover{ text-decoration:none;}

.filemanage dl.delete_err{}


/*
* 已选择的文件
*/
.selected-grid{ width:100px;}



/*
* 文件管理icons]
* update: 2013-03-30
*/
.icons_file { background-image:url("../images/filemanage/icons_filemanage.png"); display:inline-block; height:32px; width:32px;}
.icon_folder{ background-position:0px 0px;}
.icon_file  { background-position:0px -64px;}
dl.thumb .icons_file { height:64px; margin:18px; width:64px;}
dl.thumb .icon_folder{ background-position:-128px 0px;}
dl.thumb .icon_file  { background-position:0px -224px;}

.icon_image,
.icon_file_jpg,
.icon_file_jpe,
.icon_file_jpeg,
.icon_file_png,
.icon_file_gif,
.icon_file_bmp{ background-position:0px -32px;}

.icon_file_doc,
.icon_file_docx{ background-position:-32px -64px;}
dl.thumb .icon_file_doc,
dl.thumb .icon_file_docx{ background-position:-64px -224px;}

.icon_file_ppt,
.icon_file_pptx{ background-position:-64px -64px;}
dl.thumb .icon_file_ppt,
dl.thumb .icon_file_pptx{ background-position:-128px -224px;}

.icon_file_xls,
.icon_file_xlsx{ background-position:-96px -64px;}
dl.thumb .icon_file_xls,
dl.thumb .icon_file_xlsx{ background-position:-192px -224px;}

.icon_file_pdf{ background-position:-128px -64px;}
dl.thumb .icon_file_pdf{ background-position:-256px -224px;}
.icon_file_txt{ background-position:-160px -64px;}
dl.thumb .icon_file_txt{ background-position:-320px -224px;}

.icon_file_zip,
.icon_file_rar{ background-position:-192px -64px;}
dl.thumb .icon_file_zip,
dl.thumb .icon_file_rar{ background-position:-384px -224px;}

dl.thumb .icon_file_pub,
dl.thumb .icon_file_pubx{ background-position:-448px -224px;}

dl.thumb .icon_file_psd{ background-position:-512px -224px;}

.icon_file_mdb,
.icon_file_accdb{ background-position:-224px -64px;}
dl.thumb .icon_file_mdb,
dl.thumb .icon_file_accdb{ background-position:-576px -224px;}


.icon_flash,
.icon_file_swf{ background-position:0px -96px;}
.icon_file_flv{ background-position:-32px -96px;}

dl.thumb .icon_flash,
dl.thumb .icon_file_swf{ background-position:0px -288px;}
dl.thumb .icon_file_flv{ background-position:-64px -288px;}

.icon_music{ background-position:0px -128px;}
dl.thumb .icon_music{ background-position:0px -352px;}
.icon_file_wma{ background-position:-32px -128px;}
dl.thumb .icon_file_wma{ background-position:-64px -352px;}
.icon_file_mp3{ background-position:-64px -128px;}
dl.thumb .icon_file_mp3{ background-position:-128px -352px;}
.icon_file_wav{ background-position:-96px -128px;}
dl.thumb .icon_file_wav{ background-position:-192px -352px;}

.icon_media{ background-position:0px -160px;}
dl.thumb .icon_media{ background-position:0px -416px;}
.icon_file_mpe{ background-position:-32px -160px;}
/*dl.thumb .icon_file_mpe{ background-position:-64px -416px;}*/
.icon_file_asf{ background-position:-64px -160px;}
/*dl.thumb .icon_file_asf{ background-position:-128px -416px;}*/
.icon_file_wmv{ background-position:-96px -160px;}
dl.thumb .icon_file_wmv{ background-position:-192px -416px;}
.icon_file_mp4{ background-position:-128px -160px;}
/*dl.thumb .icon_file_mp4{ background-position:-256px -416px;}*/
.icon_file_rmvb{ background-position:-160px -160px;}
/*dl.thumb .icon_file_rmvb{ background-position:-320px -416px;}*/
.icon_file_mod{ background-position:-192px -160px;}
/*dl.thumb .icon_file_mod{ background-position:-384px -416px;}*/
.icon_file_mov{ background-position:-224px -160px;}
dl.thumb .icon_file_mov{ background-position:-448px -416px;}
.icon_file_3gp{ background-position:-256px -160px;}
/*dl.thumb .icon_file_3gp{ background-position:-512px -416px;}*/
.icon_file_avi{ background-position:-288px -160px;}
/*dl.thumb .icon_file_avi{ background-position:-576px -416px;}*/

/**删除按钮**/
.f-btn{
	background:#f5f7fb; background:-moz-linear-gradient(top,#fafafa,#ddd); background:-webkit-linear-gradient(top,#fafafa,#ddd);
	border:1px solid #aaa; border-bottom:1px solid #888;
	cursor:pointer; display:inline-block; font-size:12px;
	line-height:18px;
	margin:5px 0px 0px 0px; padding:2px 18px;
	}
.f-btn-upload{ margin-right:8px;}
.f-btn-filecheck{ margin-left:8px;}
.f-btn,.f-btn:visited{ color:#333;}
.f-btn:hover{ background:#f5f7fb; background:-moz-linear-gradient(top,#fafbfd,#bbcae3); background:-webkit-linear-gradient(top,#fafbfd,#bbcae3); border:1px solid #6286bf; color:#4b74b6; text-decoration:none;}
.f-btn.disabled{ background:#eee; border:1px solid #d6d6d6; cursor:default; color:#aaa;}

/*
* 新建文件夹
*/
dl.create-new-folder{ padding:20px 40px 25px 40px;}
dl.create-new-folder dt{ font-weight:bold; padding:0px 0px 5px 0px;}
dl.create-new-folder dd{}

/*
* 文件重命名
*/
dl.file-rename{ padding:10px 0px 15px 0px;}
dl.file-rename dt{ background:#fafafa; border-bottom:1px solid #eee; padding:0px 20px 5px 20px;}
dl.file-rename dd{ padding:8px 20px 2px 20px;}
dl.file-rename dd{}


/*
* 上传
*/
.upload-grid{ background:#fafafa; border:4px solid #686868; padding:15px 20px 10px 20px;}
.upload-file{}
.upload-buttons{ height:30px; margin:0px 0px 0px -1px; overflow:hidden; padding:0px 0px 0px 0px;}
.upload-buttons .message{ padding-left:10px; color:#f00;}
.upload-select-file{ display:inline-block; height:38px; float:left; margin-top:-1px; margin-right:3px; width:110px; z-index:10;}
.upload-select-file object{ position:absolute; z-index:10;}
.upload-select-file-loading{ position:relative; z-index:1;}
.upload-select-file-loading i{ font-style:normal; font-weight:bold; position:absolute; left:-105px; top:-3px; z-index:12;}
.upload-files-grid{}
.the-file{
	background-color:#666;
	-webkit-border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-topright:12px;
	-moz-border-radius-bottomright:12px;
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
	-webkit-border-top-left-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-bottomleft:12px;
	border-top-left-radius:12px;
	border-bottom-left-radius:12px;
	-webkit-box-shadow:inset 1px 0px 2px rgba(0,0,0,0.8);
	-moz-box-shadow:inset 1px 0px 2px rgba(0,0,0,0.8);
	box-shadow:inset 1px 0px 2px rgba(0,0,0,0.8);
	 color:#fff;
	height:16px; line-height:16px; margin:5px 0px 0px 0px; padding:4px; position:relative; z-index:8;
	}
.the-file-title{
	background:#eee;
	color:#666;
}
.the-file .progress_bar,
.the-file .error{
	background:#5cbd05;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomright:8px;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-bottomleft:8px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	-webkit-box-shadow:inset 1px 0px 1px rgba(10,80,0,0.8);
	-moz-box-shadow:inset 1px 0px 1px rgba(10,80,0,0.8);
	box-shadow:inset 1px 0px 1px rgba(10,80,0,0.8);
	display:block; height:16px; line-height:16px; left:0px; margin:0px;
	overflow:hidden; padding:0px; position:absolute; text-align:center; top:4px; width:0px; z-index:9;
	}
.the-file .failed{
	background:#c80000;
	}
.info_bar{ height:16px; line-height:16px; left:4px; margin:0px; overflow:hidden; padding:0px; position:absolute; text-align:left; top:4px; width:100%; z-index:10;}
.info_bar ul{ width:100%;}
.info_bar ul a,.info_bar ul a:visited{ color:#fff;}
.info_bar ul li { float:left; font-size:11px; height:16px; line-height:16px; overflow:hidden;}
.info_bar ul li.w_name{ width:40%; }
.info_bar ul li.w_name .f_name{ padding-left:8px;}
.info_bar ul li.w_name .newname{ padding-left:10px;}
.info_bar ul li.w_size{ width:10%;}
.info_bar ul li.w_progress{ width:15%;}
.info_bar ul li.w_size{ width:15%;}
.info_bar ul li.w_act{ width:15%;}


#fileUploaded{ color:green}

#divAddFiles{}
























