
i.glyphicon{ margin-right:6px;}

.is-empowered-1{ color:#169f00;}
.is-empowered-0,
.is-empowered-1-0{ color:#f00;}
.is-smsopen-0{ color:#aaa;}
.is-smsopen-1{ color:#169f00;}
.is-smsopen-0-1{ color:#222;}
a.status-0,
a.status-1 { min-width:28px!important;}
.website-type-0{ color:#384050;}
.website-type-1{ color:#0098cc;}

.website-sms-title{ margin-left:-5px;}
.website-sms-number{ color:#666;}
.sms-number-pre{}
.sms-number-ext{}
.website-sms-remainder{ padding-left:8px;}
.website-sms-remainder b{ color:#444; font-weight:normal; padding:0px 2px;}
















