@charset "utf-8";
/* 
* Author: lin xiao dong
  http://www.openwbs.com/
*/
html{font-size:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:100%;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{ margin:0; padding:0; }
body,button,input,select,textarea,th {
	color:#4d4d4d;
	font:14px/1.8 "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}
h1,h2,h3,h4,h5,h6{font-size:100%;}
li{list-style:none}
pre,blockquote{ margin:0px;}
img{border:0 none;-ms-interpolation-mode:bicubic}
input[type="button"],input[type='submit']{cursor:pointer}
button{cursor:pointer}
table { border-collapse:collapse; border-spacing:0; max-width:100%; background-color:transparent; }
th { font-weight:bold; text-align:left;}
a{text-decoration:none;}
a,a:visited{color:#333;}
a:hover{color:#0070d9;text-decoration:underline;}
:focus {outline:none;}
button,input,textarea,select,a,a:focus{outline:none;}
body{ background:#fff;}

/*零碎*/
.clear {clear:both; *zoom:1;}.clear:after{ display:block; content:" "; clear:both; height:0;}
.icon{ font-size:13px; margin-right:10px; height:16px; width:16px; display:inline-block; font-family:'Glyphicons Halflings'; font-style:normal; font-weight:normal; line-height:1; position:relative; top:1px; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.link,
.link:visited{ color:#3e65b3;}
.fl{float:left;}.fr{float:right;}
.ml5{margin-left:5px;}.ml8{margin-left:8px;}.ml10{margin-left:10px;}
.mr5{margin-right:5px;}.mr8{margin-right:8px;}.mr10{margin-right:10px;}
.transparent{
	filter:alpha(opacity=80); /* internet explorer */
	-khtml-opacity:0.8;      /* khtml, old safari */
	-moz-opacity:0.8;       /* mozilla, netscape */
	opacity:0.8;           /* fx, safari, opera */
}
.transparent_95{
	filter:alpha(opacity=95); /* internet explorer */
	-khtml-opacity:0.95;      /* khtml, old safari */
	-moz-opacity:0.95;       /* mozilla, netscape */
	opacity:0.95;           /* fx, safari, opera */
}
.col-xs-1,
.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-7 {
  float: left;
}
.col-xs-1 { width:8.333333333333332%;}
.col-xs-7 { width: 58.333333333333336%;}

span.point{ font-family:verdana; }
span.point em{ font-style:normal; padding:0px 3px;}
span.point b{ font-weight:normal;}

/*网页头部*/
#header{ position:fixed; width:100%; z-index:101;}
.toper{ background-color:#0098cc; font-size:14px;  height:44px; line-height:44px;}
.toper .wrapper{ margin:auto;}
.toper a,
.toper a:visited{ color:#fff;}
.toper a:hover{ background-color:#008ebe; color:#fff; text-decoration:none;}
.toper .logo{ background:#0089b8; float:left; height:44px; width:180px; overflow:hidden;}
.toper .logo img{ float:left; height:44px; width:180px;}
.toper ul.top-nav{ float:left; height:44px; overflow:hidden; position:absolute; left:180px;}
.toper ul.top-nav li{ float:left;}
.toper ul.top-nav li a{ border-right:0px solid #008ebe; display:inline-block; padding:0px 15px;}

.account-sign-status{ float:right;}
.account-sign-status a{ border-right:1px solid #e2e2e2; float:left; height:32px; padding:0px 18px;}
/*用户*/
.top-account{ position:absolute; right:0px; top:0px; }
.top-account i { color:rgba(255,255,255,0.8); font-size:12px; margin-right:10px; height:16px; width:16px; display:inline-block; font-family:'Glyphicons Halflings'; font-style:normal; font-weight:normal; line-height:1; position:relative; top:1px; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.top-account-item a{ color:#fff; display:block; height:44px; line-height:44px; min-width:100px; padding:0px 10px 0px 20px; text-align:right;}
.top-account-item a i{ margin-left:10px;}
.top-account-item a i:before { content:"\e252"; }
.top-account-sub{ background:#fff; border:1px solid #f4f4f4; border-top:none; display:none; }
.top-account-sub ul li a{ border-top:1px solid #f4f4f4; display:block; height:40px; line-height:40px; padding:0px 10px;}
.top-account-sub ul li a,
.top-account-sub ul li a:visited{color:#333;}
.top-account-sub ul li a:hover{ background:#f4f4f4; color:#222; text-decoration:none;}
.top-account-sub ul li a i { color:rgba(0,0,0,0.5); }
.top-account-sub .edit-setting i:before { content:"\e019"; }
.top-account-sub .edit-password i:before { content:"\e065"; }
.top-account-sub .logout i:before { content:"\e017"; }
.top-account.hover .top-account-item a{ background-color:#fff; color:#222; position:relative; z-index:99999;}
.top-account.hover .top-account-item a i:before { content:"\e253"; color:rgba(0,0,0,0.5);}
.top-account.hover .top-account-sub{ -webkit-box-shadow:rgba(0,0,0,0.5) 0px 0px 5px; -moz-box-shadow:rgba(0,0,0,0.5) 0px 0px 5px; box-shadow:rgba(0,0,0,0.5) 0px 0px 5px;}

/*网页中间内容区*/
#mbody{ margin:0px auto 0px auto; padding:44px 0px 0px 180px;}
#mbody:after{ clear:both; content:"."; display:block; height:0; visibility:hidden;}

/*网页底部*/
#footer{ color:#888; font-size:12px; padding:15px 0px 0px 198px;}
#footer .wrapper{ border-top:1px solid #eee; }
#footer a,#footer a:visited{ color:#666;}
#footer a:hover{ color:#000; text-decoration:none;}
.powered-by{ color:#888; font-size:11px; padding:5px 0px;}
.powered-by a,
.powered-by a:visited{ color:#888;}
.powered-by span{ padding:0px 0px 0px 5px;}

/*左边用户菜单*/
#sidebar{ background-color:#4d5d6e; float:left; font-size:14px; width:180px; position:fixed; top:44px; z-index:101;}
#sidebar .heading{ border-right:1px solid #ddd; display:none; height:18px;}
#sidebar a,
#sidebar a:visited{ color:rgba(255,255,255,0.88); }
#sidebar .uc-sidenav{ padding:5px 0px;}
#sidebar .uc-sidenav ul{ border-bottom:1px solid #445364; padding:5px 0px;}
#sidebar .uc-sidenav ul:last-child{ border-bottom:none;}
#sidebar .uc-sidenav ul li a{ display:block; height:32px; line-height:32px; padding:4px 5px 4px 18px;}
#sidebar .uc-sidenav ul li a:hover{ background-color:#5d6e7f; color:#fff; text-decoration:none;}
#sidebar .uc-sidenav ul li.current a{ background-color:#0098cc; }
#sidebar .uc-sidenav ul li a i { font-size:13px; margin-right:10px; height:16px; width:16px; display:inline-block; font-family:'Glyphicons Halflings'; font-style:normal; font-weight:normal; line-height:1; position:relative; top:1px; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
#sidebar .uc-sidenav ul li.index i:before { content:"\e008"; }
#sidebar .uc-sidenav ul li.orders i:before { content:"\e032"; }
#sidebar .uc-sidenav ul li.finance i:before { content:"\e148"; }
#sidebar .uc-sidenav ul li.point i:before { content:"\e227"; }
#sidebar .uc-sidenav ul li.fenxiao i:before { content:"\e125"; }
#sidebar .uc-sidenav ul li.coupon i:before { content:"\e102"; }
#sidebar .uc-sidenav ul li.favorite i:before { content:"\e143"; }
#sidebar .uc-sidenav ul li.setting i:before { content:"\e019"; }
#sidebar .uc-sidenav ul li.order-form-data i:before { content:"\270f"; }
#sidebar .uc-sidenav ul li.system-msg i:before { content:"\2709"; }

#container{ padding:0px 18px 0px 18px;}
#container:after{ clear:both; content:"."; display:block; height:0; visibility:hidden;}
#container h1.header{ border-left:2px solid #ddd; font-size:16px; font-weight:normal; height:18px; line-height:18px; margin:15px 0px; padding:0px 10px 0px 10px;}
#container .section-form{ margin:0px 0px 0px 0px;}
#container .section-list{ margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; zoom:1; overflow:auto;}

/*验证码*/
.verifycode{}
.verifycode img{ height:26px; vertical-align:middle;}
.verifycode .fresh{ background:#f6f6f6; border:1px solid #aaa; display:inline-block; vertical-align:top; font-size:14px; font-family:"微软雅黑"; height:26px; padding:0px 6px;}

/**价格**/
span.money {}
span.money em{ font-style:normal;}
span.money b{ font-weight:normal;}

/**状态**/
span.status-0{ color:#169f00;}
span.status-1{ color:#f00;}

/**确认**/
span.approved-0,
span.approved-0 a,
span.approved-0 a:visited{ color:#5bc0de;}
span.approved-1,
span.approved-1 a,
span.approved-1 a:visited{ color:#169f00;}
span.approved-2,
span.approved-2 a,
span.approved-2 a:visited{ color:#f00;}

/**/
.status-text-default{color:#444444;}
.status-text-primary{color:#1272c5;}
.status-text-warning{color:#c60000;}
.status-text-info{color:#119cc5;}
.status-text-success{color:#009e00;}
.status-text-important{color:#e00000;}
.status-text-less{color:#777;}

/**已读**/
a.read-0{ font-weight:bold;}
a.read-1{ color:#aaa;}

/*上传头像*/
.avatar-set-body{ border-bottom:1px solid #e6e6e6; margin-left:2px; padding:0px 0px 10px 0px; zoom:1; overflow:auto; }
.avatar-set-body:after {}
.avatar-view-section,.avatar-do-section{ float:left; margin:10px 10px 0px 10px;}
.avatar-view-section .header, .avatar-do-section .header{ border-bottom:1px solid #ddd; font-weight:bold; padding:5px 0px 2px 0px;}
.avatar-view-section .section{ width:200px; padding:10px 0px 0px 0px;}
.avatar-view-section .section img{ width:200px;}
.avatar-do-section section{ padding:10px 0px 0px 0px;}

.upload-tip{ padding:5px 0px 0px 0px;}
.upload-do{ padding:10px 0px 0px 0px;}
.upload-do form { cursor:pointer; position:relative;}
.upload-do form .file-input{ cursor:pointer; height:40px; width:120px; margin:0px; padding:0px; position:absolute; left:0px; top:0px; z-index:2; filter:alpha(opacity=0); -khtml-opacity:0; -moz-opacity:0; opacity:0;}
.upload-do form .btn{ cursor:pointer;  height:40px; width:120px; position:absolute; left:0px; top:0px; z-index:1; }

/*裁切*/
.ow-avatar-cut{ background:#eee; margin:20px 0px 0px 0px; padding:20px;}
.my-avatar{ border:1px solid #333; float:left; max-width:300px;}
.my-avatar img{ width:300px; vertical-align:top;}
.my-avatar-view{ float:left; margin:0px 0px 0px 15px; }
.ow-avatar-cut .submit{ padding:10px 0px 0px 0px;}


/*加载/提交/注释/注解*/
.loading,.posting {background:url("../images/posting.gif") 0px center no-repeat; color:#888; display:inline-block; font-size:16px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.freshing {background:url("../images/freshing.gif") 0px 0px no-repeat; color:#aaa; display:inline-block; font-size:12px; height:16px; line-height:16px; padding:2px 5px 2px 24px;}
/*提示*/
.t-normal{ color:#b2b2b2; font-size:12px; padding:0px 0px 0px 0px;}
.t-normal.hightLigth{ color:#4d4d4d;}
.t-ok  { color:#00be00; }
.t-err { color:#ff3300; }
i.important{ color:#f00; padding:0px 5px 0px 0px; }

/*表单 input check radio textarea select button*/
input[type="radio"],
input[type="checkbox"] { margin:0px 5px 0px 0px; padding:0px; vertical-align:middle;}
input.file{ background-color:#fcfcfc; border:1px solid #ddd; height:28px; line-height:28px; padding:2px;}
input.text,
textarea.textarea {
	background-color:#fcfcfc; border:1px solid #bbb;
	-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
	color:#555; font-size:14px;
	padding:0px 8px 0px 8px;
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s;
	width:250px;
	}
input.text { height:30px; line-height:30px;}
input.text-long {width:400px;}
input.text-short {width:160px;}
input.text-short-mini {width:80px;}
input.text-mini { height:18px; line-height:18px; width:114px;}
input.text-fileurl {width:300px;}
input.text-filename {width:120px;}
input.text-imageurl {border:1px dashed #bbb; width:272px;}
input.text-large {font-size:14px; height:32px; line-height:32px;}
input.text-verifycode{ font-size:14px; font-weight:bold; width:80px;}
input.text-err { background-color:#fffafa; border-color:#d80000; -webkit-box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175); -moz-box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175); box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175);}
/**文本域**/
textarea.textarea {height:80px; line-height:20px; padding-top:2px; padding-bottom:2px; width:400px;}
textarea.textarea-mini {height:60px;}
textarea.textarea-high {height:160px;}
textarea.textarea-summary {height:60px; width:660px;}
textarea.textarea-long {height:80px; width:660px;}
textarea.textarea-editor {height:300px; width:650px;}
/**下拉**/
select {
	border:1px solid #bbb; color:#333; height:30px; line-height:30px;
    margin:0px 0px; padding:3px;
	vertical-align:top;
	padding:0px 8px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
select option { border-bottom:1px solid #eee; height:24px; line-height:24px; padding:5px 8px 1px 8px;}
select optgroup {font-style:normal; padding:2px 0px 2px 0px;}
select optgroup option:first-child {margin-top:3px;}
/**聚焦和经过状态**/
input.text:hover,
input.text:focus,
textarea.textarea:hover,
textarea.textarea:focus,
select:hover,
select:focus {
	background:#fcfcfc;
	border:1px solid #3498db;
	color:#000;
	-webkit-box-shadow:0px 0px 3px #6bafdc;
	-moz-box-shadow:0px 0px 3px #6bafdc;
	box-shadow:0px 0px 3px #6bafdc;
	}
input.readonly,
input.readonly:hover,
input.readonly:focus{
	background-color:#fcfcfc; border:1px solid #bbb;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
/**无效状态**/
input.disabled,
input.disabled:hover,
input.disabled:focus,
select.disabled,
select.disabled:hover,
select.disabled:focus {
	background:#eee;
	border:1px solid #ccc;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#888;
	text-shadow:0px 0px 1px #fff;
}
/**时间**/
input.text-datetime,
input.text-datetime:hover,
input.text-datetime:focus {background-image:url("../images/icons/datetime.png"); background-repeat:no-repeat; background-position:center right;}

/*表单表格*/
.tablegrid{ padding:10px 0px; border-left:1px solid #f6f6f6;}
table.formtable{ background:#fff;}
table.formtable td.titletd,
table.formtable td.infotd{ height:24px;}
table.formtable td.titletd{ border-bottom:1px solid #f6f6f6; color:#666; font-size:14px; font-weight:bold; padding:8px 0px 8px 0px; width:110px; text-align:right;}
table.formtable td.top{ vertical-align:top;}
table.formtable td.infotd{ background:#fff; border-bottom:1px solid #f6f6f6; font-size:14px; height:24px; padding:8px;}
table.formtable td.auto{ width:auto;}
table.formtable i{ vertical-align:middle;}
table.formtable td.titletd .subtitle{ color:#686868; display:block; font-weight:normal; height:16px; line-height:16px;}
table.formtable tr:last-child td{ border-bottom:none;}

table.in-formtable{border:1px solid #e8e8e8;}
table.in-formtable td.titletd,
table.in-formtable td.infotd{ height:26px;}
table.in-formtable td.titletd{ background:#fafafa; border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; font-weight:normal; min-width:80px; padding:5px 6px 5px 15px; width:auto; text-align:right;}
table.in-formtable td.infotd{ background:#fff; border-bottom:1px solid #eee; height:24px; padding:5px 10px 5px 8px;}
table.in-formtable a,
table.in-formtable a:visited{color:#0070d9;}
table.in-formtable i{ vertical-align:middle;}

table.table-form-data{ background:#fff; border:1px solid #e6e6e6; margin:0px 0px 10px 0px;}
table.table-form-data td.titletd,
table.table-form-data td.infotd{ height:24px;}
table.table-form-data td.titletd{ background-color:#fafafa; border-bottom:1px solid #f6f6f6; color:#666; font-size:14px; font-weight:bold; padding:8px 10px 8px 5px; width:120px; text-align:right;}
table.table-form-data td.top{ vertical-align:top;}
table.table-form-data td.infotd{ background:#fff; border-bottom:1px solid #f6f6f6; font-size:14px; height:24px; padding:8px 10px;}
table.table-form-data td.auto{ width:auto;}
table.table-form-data i{ vertical-align:middle;}
table.table-form-data td.titletd .subtitle{ color:#686868; display:block; font-weight:normal; height:16px; line-height:16px;}
table.table-form-data tr:last-child td{ border-bottom:none;}
table.table-form-data span.line{ border-top:1px solid #eee; display:inline-block; margin-top:5px; padding:5px 0px; }
table.table-form-data tr.reply td.titletd{ background-color:#fff; color:#c60000;}

/**表单**/
.form {}
.form-group {border-bottom:1px dotted #ddd; padding:5px 0px 5px 0px;}
.form-group:before,
.form-group:after { display:table; line-height:0; content:"";}
.form-group:after { clear:both;}
.form-group .col-name {float:left; font-size:14px; font-weight:bold; height:20px; line-height:20px; padding:6px 15px 0px 0px; width:105px; text-align:right;}
.form-group .col-name .important {color:#f00; padding:2px 5px 0px 0px;}
.form-group .col-value {padding:3px 0px 3px 115px;}
.form-group .verifycode {}
.form-group .verifycode img {height:26px; vertical-align:middle;}
.form-group .verifycode .fresh {background:#f6f6f6; border:1px solid #aaa; display:inline-block; vertical-align:top; font-size:12px; font-family:"微软雅黑"; height:26px; padding:0px 6px;}

/*水平表单*/
.form-horizontal { padding:10px 10px; }
.form-horizontal .control-group { border-bottom:1px solid #f6f6f6; zoom:1; overflow:auto;}
.form-horizontal .control-group .control-label { float:left; font-size:14px; font-weight:bold; height:30px; line-height:30px; padding:8px 12px 6px 0px; text-align:right; width:100px;}
.form-horizontal .control-group .controls { height:30px; line-height:30px; padding:8px 0px 6px 120px; *padding-left:10px; _padding-left:5px; }
.form-horizontal .control-group .controls .checkbox {display:block; padding:0px 0px 15px 0px;}
.form-horizontal .control-group .controls-btn{ padding-top:15px; padding-bottom:15px;}
.form-horizontal .control-group:last-child{ border-bottom:none;}

/*表单行为*/
.form-actions { padding:10px 0px 20px 120px;}
.form-actions:before,
.form-actions:after { display:table; line-height:0; content:"";}
.form-actions:after { clear:both;}
.form-actions .btn { margin-right:8px; }

/*自定义表单*/
.form-list {padding:5px 0px;}
.form-data {background:#fafafa; border:1px dotted #ccc; margin:15px 0px 0px 0px; position:relative;}
.form-data:before,
.form-data:after { display:table; line-height:0; content:"";}
.form-data:after { clear:both;}
.form-data .heading {border-bottom:1px dotted #ddd; color:#aaa; height:20px; line-height:20px;}
.form-data .heading .data-id {font-size:11px; padding:5px 5px;}
.form-data .heading .datetime {float:right; font-size:11px; padding:0px 10px;}
.form-data .avatar {float:left; padding:10px 10px 6px 10px; width:48px;}
.form-data .avatar img {height:48px; width:48px;}
.form-data .avatar h6 {margin:0px; padding:0px; width:48px; overflow:hidden;}
.form-data-content {background:#fff; border-left:1px dotted #ddd; margin-left:68px;}
.form-data-content:before,
.form-data-content:after { display:table; line-height:0; content:""; }
.form-data-content:after { clear:both;}
.form-data table {width:100%;}
.form-data .row {border-bottom:1px dotted #ddd; padding:2px 0px 2px 0px;}
.form-data .row:last-child {border-bottom:none;}
.form-data td.col-name {float:left; font-size:12px; height:20px; line-height:20px; padding:3px 10px; text-align:left;}
.form-data td.col-value {border-left:1px dotted #ddd; font-size:12px; padding:3px 10px; width:88%;}

.form-data-reply {background-color:#ECF3FF; border:1px dotted #CDDEF8; color:#4B74B6; margin:0px 0px;}
.form-data-reply .heading {border-bottom:none; padding:5px 0px 0px 0px;}
.form-data-reply .heading .datetime {float:none; font-size:11px; padding:0px 10px;}
.form-data-reply .form-data-content {background:#ECF3FF;}
.form-data-reply .reply-content {min-height:50px; padding:5px 10px;}

/*分页*/
.pager { clear:both; display:block; height:40px; padding:22px 0px 15px 0px;}
.pager a,.pager a:active,.pager a:link,.pager a:visited { background:#fff; border:1px solid #ccc; color:#424242; clear:both; font-size:12px; font-weight:bold; margin:0px 6px 2px 0px; padding:8px 10px 8px 10px; text-decoration:none; }
.pager a:hover { background:#fff; border:1px solid #c60000; color:#c60000; margin:2px 6px 2px 0px; padding:8px 10px 8px 10px; text-decoration:none; }
.pager span.current { background:#c60000; border:1px solid #c60000; color:#fff; font-size:12px; font-weight:bold; margin:2px 6px 2px 0px; padding:8px 10px 8px 10px;}
.pager span.extend,.pager span.unlink { background:#ddd; border:1px solid #ccc; color:#666; font-size:12px; font-weight:bold; margin:2px 6px 2px 0px; padding:8px 10px 8px 10px;}
/****/

/*弹出框*/
.ow-dialog{ -webkit-box-shadow:rgba(0,0,0,0.5) 0px 0px 6px; -moz-box-shadow:rgba(0,0,0,0.5) 0px 0px 6px; box-shadow:rgba(0,0,0,0.5) 0px 0px 6px; padding:0px; position:absolute; z-index:1001; top:80px; left:200px;}
.ow-dialog-wrapper{ background:#fff;}
.ow-dialog-titleBar{ cursor:move; position:relative;}
.ow-dialog-title{ background:#395692; color:#fff; height:24px; line-height:24px; padding:0px 10px; left:0px;}
.ow-dialog-close{ background-image:url("../images/dialog-close.png"); background-position:0px 0px; display:inline-block; height:24px; width:24px; overflow:hidden; position:absolute; right:1px; top:1px;}
.ow-dialog-close:hover{ background-color:#fff; background-position:0px -24px;}
.ow-dialog-main{ }
.ow-dialog-content{ background:#fcfcfc; border:1px solid rgba(0,0,0,0.8); border-bottom:none; overflow:auto;}
.ow-dialog-content-success { background:#17a000; border:1px solid rgba(0,0,0,0.2); color:#fff; font-size:14px;}
.ow-dialog-content-error   { font-size:14px; padding:13px 18px 13px 18px;}
.ow-dialog-content-error h5.error-text{ color:#424242; font-weight:normal; }
.ow-dialog-content-error dl.error-msg{ border-top:1px dotted #ddd; margin-top:6px; padding-top:6px;}
.ow-dialog-content-error dl.error-msg dt{ color:#aaa; display:none; font-weight:bold; padding:0px 0px 5px 0px;}
.ow-dialog-content-error dl.error-msg dd{ color:#d10000; font-size:14px; }
.ow-dialog-content-alert{ color:#d10000; font-size:14px;}
.ow-dialog-loading{ background:url("../images/loading.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.ow-dialog-posting{ background:url("../images/posting.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.ow-dialog-iframe{ height:100%; width:100%;}
.ow-dialog-footer{ border-bottom:1px solid rgba(0,0,0,0.8); }
.ow-dialog-buttons{ background:#f6f6f6; border-left:1px solid rgba(0,0,0,0.8); border-right:1px solid rgba(0,0,0,0.8); border-top:1px solid #eee; padding:10px 20px; text-align:center;}
.ow-dialog-buttons button{ margin:0px 5px;}
.ow-dialog-timeout{ color:#121212; bottom:-25px; position:absolute; text-align:center; text-shadow:0px 1px 0px rgba(255,255,255,0.28);  width:100%;}
.ow-dialog-shadow{ background-color:#000; filter:alpha(opacity=60); opacity:0.6; left:0px; top:0px; width:100%; height:100%; position:fixed; visibility:visible; z-index:1000;}
.ow-dialog-shadow iframe{ filter:alpha(opacity=10); opacity:0.1;}
.ow-dialog .server-data{ border-top:1px dotted #e6e6e6; color:#999; display:none; margin:5px 0px 0px 0px; padding-top:5px; word-break:break-all; word-wrap:break-word;}


/*输出显示*/
.display-site-name{ background-color:#fafafa; border-bottom:1px solid #e6e6e6; color:#fff; font-size:16px; height:44px; line-height:44px; overflow:hidden; padding:0px 20px;}
.display-site-name a{}
.display-site-name a,.error-display-site-name a:visited{ color:#666;}
.display-site-name a:hover{ text-decoration:none;}

/*操作输出*/
.action-display{ margin:8px; padding:20px 20px;}
.action-display h3{ border-bottom:1px solid #ddd; font-family:"微软雅黑"; font-weight:normal; font-size:22px; padding:0px 0px 5px 0px;}
.action-message{ border-bottom:1px solid #dadada; border-left:3px solid #2ec200; font-size:14px; margin:10px 0px; padding:12px 10px;}
.action-display .buttons{ padding:10px 0px 0px 0px;}
.action-display .buttons a{ margin-right:5px;}
.action-display.failed .action-message{ border-left:3px solid #f00;}

/*错误输出*/
.error-display{ margin:8px auto; padding:20px 20px;}
.error-display h3{ border-bottom:1px solid #e6e6e6; font-family:"微软雅黑"; font-weight:normal; font-size:22px; padding:0px 0px 5px 0px;}
.error-display ul{ font-size:14px; padding:10px 0px;}
.error-display ul li{ border-bottom:1px solid #e6e6e6; border-left:3px solid #ff5a00; padding:8px 0px 8px 10px;}
.error-display .buttons{ padding:10px 0px 0px 0px;}
.error-display .buttons a{ margin-right:5px;}

/*错误信息*/
.ow-error-section{ background:#fff6f6; border:1px dashed #d52d2d; color:#c60000; font-size:14px; padding:10px;}

/**步骤**/
.flow { margin-right:15px; height:40px;}
.flow ul { font-size:14px; margin:0px; padding:0px;}
.flow ul li { background:url("../images/flow.png") right 0px no-repeat; color:#888; float:left; height:40px; line-height:40px; list-style:outside none none; margin-left:0; padding:0px 30px 0px 15px;}
.flow ul li.last{ background:url("../images/flow-last.png") right 0px no-repeat;}
.flow ul li.current{ color:#0098cc;}

/*用户头像*/
.uc-userinfo{ border-bottom:1px solid #e6e6e6; height:140px; padding:0px 0px 0px 0px; }
.uc-userinfo:after {clear:both; content:"."; display:block; height:0; visibility:hidden;}
.uc-userinfo div.avatar{ background:#fff; float:left; height:100px; margin:18px 0px 0px 0px; position:relative; width:120px; }
.uc-userinfo div.avatar img.avatar{ height:100px; width:100px;}
.uc-userinfo div.avatar a.upload{ background-color:rgba(0,0,0,0.8); color:#fff; display:inline-block; height:100px; line-height:100px; left:0px; position:absolute; text-align:center; top:0px; width:100px;}
.uc-userinfo div.avatar a.upload:hover{ background-color:rgba(0,0,0,0.6); text-decoration:none;}

.uc-userinfo .baseinfo{ border-bottom:1px dashed #eee; color:#4d4d4d; display:inline-block; font-weight:normal; padding:12px 10px 4px 0px;}
.uc-userinfo .baseinfo .nickname{ font-size:18px; }
.uc-userinfo .baseinfo .mobile{ font-size:14px; padding-left:15px; vertical-align:bottom;}

.uc-userinfo .account{ border-bottom:1px dashed #eee; font-size:14px; padding:6px 0px 6px 0px;}
.uc-userinfo .account span{ padding:0px 10px 0px 0px;}
.uc-userinfo .account .username{ color:#333; padding-right:15px;}
.uc-userinfo .account .email{ color:#888; font-size:14px;}
.uc-userinfo .account .last-login-time{ color:#888; font-size:12px; margin-left:15px;}

.uc-userinfo .auxinfo { padding:6px 0px 0px 0px;}
.uc-userinfo .auxinfo .group{}
.uc-userinfo .auxinfo .group a{ font-size:15px; font-weight:600; }
.uc-userinfo .auxinfo .special-group{ font-size:15px; font-weight:600;}
.uc-userinfo .auxinfo .sep{ color:#aaa; padding:0px 15px; vertical-align:top;}

/*[主内容]用户账户积分/余额/会员组信息*/
.account-info{ border-bottom:1px solid #ddd; margin:0px 0px 10px 0px; zoom:1; overflow:auto;}
.account-info dl{ border-right:1px solid #ddd; float:left; padding:15px 25px 15px 22px;}
.account-info dt{ font-size:14px; }
.account-info dd{ font-size:18px;}
.account-info dd span{ padding:0px 0px 0px 5px;}
.account-info dd .btn-charge{ margin-left:20px;}

.point-group-info{ border-bottom:1px solid #ddd; padding:5px 10px 10px 10px; zoom:1; overflow:auto;}
.point-group-info > .header{ padding:5px 0px;}

/**会员积分等级条**/
.point-group-bar{ height:60px; padding:20px 0px 0px 0px; position:relative; overflow:hidden;}
.group-bar{ background:#b98d8d; height:20px; line-height:20px; padding:0px 0px 0px 0px; position:relative; width:100%;}
.group-bar .group-item{ border-right:1px solid #b16a6a; left:0px; top:0px; position:absolute; text-align:right;}
.group-bar .group-item em{ color:#666; font-size:11px; position:absolute; right:-50px; top:-20px; text-align:left; width:50px;}
.group-bar .group-item span.group-icon{}
.group-bar .group-item i{ bottom:-2px; display:inline-block; font-size:11px; font-style:normal; padding:0px 0px 0px 5px; position:absolute; right:-105px; text-align:left; width:100px;}
.group-bar .group-item i font { z-index:10;}
.group-bar .my-group-point{ background:#a20000; left:0px; position:absolute; top:0px;}
.group-bar .my-group-point em{ float:right; font-size:11px; color:#fff;}
.group-bar,.my-group-point{}

/**页面顶部切换**/
.ow-pagenav{ padding:0px 0px 15px 0px;}
.ow-pagenav ul{ border-bottom:1px solid #3b9eeb; font-size:14px; height:40px; z-index:1;}
.ow-pagenav ul li{ float:left; font-size:16px; margin-right:-1px; overflow:hidden; position:relative;}
.ow-pagenav ul li a{ background:#f4f4f4; border:1px solid #ddd; border-bottom:0px; display:inline-block; height:39px; line-height:39px; padding:0px 25px; text-align:center;}
.ow-pagenav ul li.current { height:42px; position:relative; z-index:1;}
.ow-pagenav ul li.current a{ background:#fff; border-color:#3b9eeb; border-top-width:2px; border-bottom:0px; color:#3b9eeb; }
.ow-pagenav ul li a ,
.ow-pagenav ul li a:visited{ text-decoration:none;}
.ow-pagenav ul li a:hover{ text-decoration:none;}
.ow-pagenav ul li a i { font-size:13px; margin-right:5px; height:16px; width:16px; display:inline-block; font-family:'Glyphicons Halflings'; font-style:normal; font-weight:normal; line-height:1; position:relative; top:1px; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.ow-pagenav ul li.home i:before { content: "\e021";}
.ow-pagenav ul li.recommender i:before { content: "\e008";}
.ow-pagenav ul li.mylink i:before { content: "\e144";}
.ow-pagenav ul li.commission i:before { content: "\e148";}
.ow-pagenav ul li.drawcash i:before { content: "\e055";}
.ow-pagenav ul li.goods i:before { content: "\e010";}
.ow-pagenav ul li.talent i:before { content: "\e185";}

/****/
ul.ow-switch{}
ul.ow-switch li{ display:inline-block;}
ul.ow-switch li a{ background:#4d5d6e; display:block; height:24px; line-height:24px; padding:2px 20px;}
ul.ow-switch li a,
ul.ow-switch li a:visited{ color:#fff;}
ul.ow-switch li a:hover,
ul.ow-switch li a.current{ background:#0098cc; text-decoration:none;}

/**会员列表**/
.section-recommenders{ background:#fcfcfc; border:1px solid #eee; padding:0px 20px 20px 20px; zoom:1; overflow:auto; }
.section-header{ border-bottom:1px solid #eee; font-weight:bold; margin:0px 0px 10px 0px; padding:5px 0px; }

ul.ow-userlist{}
ul.ow-userlist li{ background:#fcfcfc; border-bottom:1px solid #eee; float:left; margin:10px 15px 5px 0px; padding:10px 0px; width:240px;}
ul.ow-userlist li .avatar{ float:left; }
ul.ow-userlist li .avatar img{ height:50px; width:50px; vertical-align:top;}
ul.ow-userlist li .info{ padding-left:62px;}
ul.ow-userlist li .info .username{ color:#333; font-size:14px;}
ul.ow-userlist li .info .regtime{ color:#aaa; font-size:12px; }

ul.ow-userlist-horizlist{ font-size:14px;}
ul.ow-userlist-horizlist li{ border-bottom:1px solid #eee; height:50px; padding:12px 0px;}
ul.ow-userlist-horizlist li .orderi{ float:left; height:50px; width:28px; text-align:center;}
ul.ow-userlist-horizlist li .orderi i{ display:inline-block; font-size:16px; font-style:normal; padding-top:9px; }
ul.ow-userlist-horizlist li .avatar{ float:left; padding:0px 15px 0px 10px;}
ul.ow-userlist-horizlist li .avatar img{ height:50px; width:50px; vertical-align:top;}
ul.ow-userlist-horizlist li .info{}
ul.ow-userlist-horizlist li .info .username{}
ul.ow-userlist-horizlist li .info .subtitle{ }
ul.ow-userlist-horizlist li .info .subtitle .commission b{ color:#d60000; font-size:15px; padding:0px 3px;}

.ow-my-recommender{ background:#fcfcfc; border:1px dotted #eee; height:24px; line-height:24px; padding:8px 10px;}
.ow-my-recommender img{ margin:0px 8px 0px 0px; height:24px; width:24px; vertical-align:top; }
.ow-my-recommender span.username{ font-size:14px;}
.ow-my-recommender span.none{ color:#aaa; margin-right:10px;}
.ow-my-recommender a.edit,
.ow-my-recommender a.edit:visited{ color:#3e65b3;}
.ow-my-recommender a.edit i{ color:#666; margin-right:5px;}
.ow-my-recommender a.edit i:before { content:"\e065";}

.section-mytlink{ border:1px solid #eee; padding:20px;}
.ow-mytlink dt{ padding:0px 0px 5px 0px;}
.ow-mytlink dd{}
.ow-mytlink dd input{ background:#fafafa; border:1px solid #eee; padding:5px 10px; width:394px;}
.ow-mytlink-qrcode dt{ padding:30px 0px 5px 0px;}
.ow-mytlink-qrcode dd{}
.ow-mytlink-qrcode dd .qrcode img{ border:1px solid #eee; height:200px; width:200px; padding:10px; }

td .subtext{ font-size:12px; padding-left:10px;}

.ow-count-header{ background:#fff; border:1px solid #eee; margin:0px 0px 10px 0px; padding:10px 20px; overflow:hidden;}
.ow-count-header .text-grid { border-right:1px solid #eee; color:#666; float:left; margin-right:20px; padding:0px 20px 0px 0px;}
.ow-count-header .text-grid-2{  }
.ow-count-header .text-grid h4{ font-weight:normal;}
.ow-count-header .text-grid p{ color:#c60000; font-size:20px;}
.ow-count-header .text-do-grid { display:block; overflow:hidden; padding:10px 0px 0px 0px; word-break:normal; word-wrap:break-word;}
.ow-count-header .text-do-grid .record{ font-size:12px; padding:3px 0px 0px 0px; text-align:center; }

.ow-commission-apply-hero{}
.ow-commission-apply-hero img{ vertical-align:top;}
.ow-commission-cannot-apply-tip{ font-size:15px; padding:20px 10px;}
.ow-commission-apply-btn-area{ padding:20px 0px;}

ul.ow-goods-horizlist{ font-size:14px; zoom:1; overflow:auto;}
ul.ow-goods-horizlist li{ border-top:1px solid #eee; display:block; padding:12px 0px; zoom:1; overflow:auto;}
ul.ow-goods-horizlist li .thumb{ float:left; margin-right:10px; text-align:center; width:120px;}
ul.ow-goods-horizlist li .thumb img{ height:100px; width:100px; vertical-align:top; }
ul.ow-goods-horizlist li .info{ zoom:1; overflow:auto;}
ul.ow-goods-horizlist li .title{ color:#222; font-size:15px; font-weight:normal; line-height:20px; overflow:hidden;}
ul.ow-goods-horizlist li .title em{ font-size:12px; font-style:normal; padding-left:5px;}
ul.ow-goods-horizlist li .subtitle{ color:#888; max-height:36px; line-height:18px; overflow:hidden; padding:5px 0px 0px 0px; text-overflow:ellipsis;}
ul.ow-goods-horizlist li .price{ padding:5px 0px 0px 0px;}
ul.ow-goods-horizlist li .price span.money{ color:#333;}
ul.ow-goods-horizlist li .price span.commission{ color:#299f00; margin-left:10px;}
ul.ow-goods-horizlist li .price span.commission b{ color:#c60000; padding:0px 3px;}

/*[主内容]近期交易记录*/
.consume-latest{}
.section-fiance-point{}
/*.section-fiance-point .header{ border:1px solid #ddd; margin:0px 15px 10px 0px; zoom:1; overflow:auto;}
.section-fiance-point .header dl{ border-right:1px solid #ddd; float:left; padding:6px 25px 6px 25px;}
.section-fiance-point .header dt{ font-size:14px; }
.section-fiance-point .header dd{ font-size:18px;}
.section-fiance-point .header dl.available dd{ color:#169f00;}
.section-fiance-point .header dl.freeze dd{ color:#888;}
.section-fiance-point .header dd span{ padding:0px 0px 0px 5px;}*/
.section-fiance-point .point{ font-weight:bold;}
.section-fiance-point .section{ padding:0px 15px 0px 0px; zoom:1; overflow:auto;}
.section-fiance-point .footer{ padding:0px 15px 0px 0px;}
.color-income{ color:#169f00;}
.color-expend{ color:#666;}

/*预存款*/
.btn-charge{ margin:-25px 0px 0px 20px;}
input.text-amount{ border-radius:2px; font-size:16px; padding:3px 10px; width:92px;}

.ow-charge-activity{}
.ow-charge-activity-list{ padding:0px 0px 0px 0px; zoom:1; overflow:auto;}
.ow-charge-activity-list .col{ float:left;}
.ow-charge-activity-list .col a{ background:#fff; border:1px solid #c6c6c6; border-radius:5px; display:inline-block; font-size:14px; margin:0px 10px 10px 0px;  padding:8px 15px;}
.ow-charge-activity-list .col a span.charge{ font-weight:bold;}
.ow-charge-activity-list .col a span.sep{ border-left:1px dotted #aaa; color:#aaa; font-size:12px; margin:0px 8px 0px 8px;}
.ow-charge-activity-list .col a span.give{}
.ow-charge-activity-list .col a span.charge,
.ow-charge-activity-list .col a:visited span.charge{ color:#c60000;}
.ow-charge-activity-list .col a span.give,
.ow-charge-activity-list .col a:visited span.give{ color:#239411;}
.ow-charge-activity-list .col a:hover{ background:#e60022; border:1px solid #d1001f; text-decoration:none;}
.ow-charge-activity-list .col a:hover span.charge{ color:#fff;}
.ow-charge-activity-list .col a:hover span.give{ color:#fff;}

.ow-charge{ padding:0px 0px 100px 0px;}
.ow-charge .charge-money{ color:#e60000; font-size:24px;}
.ow-payment{ font-size:14px;}
.ow-payment-tab{ border-bottom:1px solid #3b9eeb; font-size:14px; height:40px; z-index:1;}
.ow-payment-tab li{ float:left; font-size:16px; margin-right:-1px; overflow:hidden; position:relative;}
.ow-payment-tab li a{ background:#f4f4f4; border:1px solid #ddd; border-bottom:0px; display:inline-block; height:39px; line-height:39px; text-align:center;}
.ow-payment-tab li.current { height:42px; position:relative; z-index:1;}
.ow-payment-tab li.current a{ background:#fff; border-color:#3b9eeb; border-top-width:2px; border-bottom:0px; color:#3b9eeb; }
.ow-payment-tab li a ,
.ow-payment-tab li a:visited{ text-decoration:none;}
.ow-payment-tab li a:hover{ text-decoration:none;}
.ow-payment-tab li a label{ cursor:pointer; display:block; height:39px; line-height:39px; min-width:76px; padding:0px 18px 0px 18px; }
.ow-payment-tab li a label input{ display:none;}

.ow-payment-container{ padding:20px 20px 20px 0px;}
.ow-payment-container .logo{ padding:10px 0px;}
.ow-payment-container .logo img{ border:1px solid #ddd; padding:1px; max-width:200px;}
.ow-payment-container .text{}

.pay-bank-list{}
.pay-bank-list ul{ padding-bottom:20px; zoom:1; overflow:auto;}
.pay-bank-list ul li{ float:left; position:relative; margin:8px 8px 0px 0px; }
.pay-bank-list ul li label{ border:1px solid #eee; display:inline-block; height:28px; padding:10px 1px 10px 10px; vertical-align:top;}
.pay-bank-list ul li label:hover{ border-color:#dc9292;}
.pay-bank-list ul li label.current{ border:2px solid #d80000; padding:9px 0px 9px 9px;}
.pay-bank-list ul li label input{ float:left; margin:8px 5px 0px 0px;}
.pay-bank-list ul li i{}
.pay-bank-list ul li .bank-name{ background-color:#dc9292; color:#fff; display:none; position:absolute; top:46px; left:0px; height:24px; line-height:24px; width:146px; padding:0px 5px; overflow:hidden; text-align:center; z-index:999;}

.bank-logo { background-image:url("../images/bank-logo.png"); display:inline-block; height:28px; overflow:hidden; width:125px; text-indent:-9999px; }
.bank-bjrcb { background-position:0 0}
.bank-bob { background-position:0 -28px}
.bank-cbhb { background-position:0 -56px}
.bank-bocd { background-position:0 -84px}
.bank-fdb { background-position:0 -112px}
.bank-icbc { background-position:0 -140px}
.bank-ceb { background-position:0 -168px}
.bank-gdb { background-position:0 -196px}
.bank-hkb { background-position:0 -224px}
.bank-hzb { background-position:0 -252px}
.bank-hengfeng { background-position:0 -280px}
.bank-hxb { background-position:0 -308px}
.bank-ccb { background-position:0 -336px}
.bank-jsb { background-position:0 -364px}
.bank-bcom { background-position:0 -392px}
.bank-jinghua { background-position:0 -420px}
.bank-cmbc { background-position:0 -448px}
.bank-njcb { background-position:0 -476px}
.bank-nbcb { background-position:0 -504px}
.bank-abc { background-position:0 -532px}
.bank-pab { background-position:0 -560px}
.bank-spdb { background-position:0 -588px}
.bank-qdccb { background-position:0 -616px}
.bank-srcb { background-position:0 -644px}
.bank-shb { background-position:0 -672px}
.bank-sdb { background-position:0 -700px}
.bank-wzcb { background-position:0 -728px}
.bank-cib { background-position:0 -756px}
.bank-cmb { background-position:0 -784px}
.bank-zjtl { background-position:0 -812px}
.bank-boc { background-position:0 -840px}
.bank-postgc { background-position:0 -868px}
.bank-citic { background-position:0 -896px}
.bank-cqrcb { background-position:0 -924px}
.bank-cqcb { background-position:0 -952px}
.bank-gzrcc { background-position:0 -980px}
.bank-gzcb { background-position:0 -1008px}
.bank-hsb { background-position:0 -1036px}
.bank-czb { background-position:0 -1064px}
.bank-bonc { background-position:0 -1092px}
.bank-gdnyb { background-position:0 -1120px}
.bank-chab { background-position:0 -1148px}
.bank-dylscz { background-position:0 -1177px}
.bank-dzb { background-position:0 -1205px}
.bank-lwb { background-position:0 -1233px}
.bank-qsb { background-position:0 -1260px}
.bank-rzb { background-position:0 -1289px}
.bank-tab { background-position:0 -1317px}
.bank-lsb { background-position:0 -1345px}
.bank-wfccb { background-position:0 -1373px}
.bank-ordos { background-position:0 -1401px}
.bank-boxm { background-position:0 -1430px}
.bank-bolj { background-position:0 -1456px}
.bank-jzcb { background-position:0 -1484px}
.bank-jjccb { background-position:0 -1512px}
.bank-cjccb { background-position:0 -1568px}
.bank-boly { background-position:0 -1596px}


/*[主内容]我的订单*/
.section-orders{}
.section-orders .section{ padding:0px 15px 0px 0px; zoom:1; overflow:auto;}
.section-orders .footer{ padding:0px 15px 0px 0px;}

/**订单列表**/
.ow-order{ background:#fff; border:1px solid #e2e2e2; font-family:verdana; margin:0px 0px 18px 0px;}
.ow-order-hd{ background:#f6f6f6; border-bottom:1px solid #e2e2e2; color:#666; line-height:40px; padding:5px 10px;}
.ow-order-hd-info{ line-height:24px;}
.ow-order-hd-info .tips{ border-top:1px dashed #ddd; color:#999; display:inline-block; font-size:12px; padding:4px 0px 0px 0px;}
.ow-order-hd .item{ margin-right:20px;}
.ow-order-hd .item em{ color:#999; font-style:normal; }
.ow-order-hd .item-amount b{ color:#333; font-weight:normal; }
.ow-order-hd .item-status b{ font-weight:normal;}
.ow-order-hd .item-do{ margin-right:10px;}
.ow-order-hd a,
.ow-order-hd a:visited{ color:000;}
.ow-order-hd .time{ }


.ow-order-bd .child-order{ border-bottom:1px solid #e2e2e2; }
.ow-order-bd .child-order-hd{ border-bottom:1px solid #e2e2e2; color:#999; padding:8px 10px;}

.ow-order-bd table{ width:100%;}
.ow-order-bd table td{ border-right:1px solid #e2e2e2; min-width:60px; max-width:60px; padding:10px 15px; vertical-align:top;}
.ow-order-bd table td.td-goods{ min-width:520px; min-width:520px; width:520px; padding:0px 0px;}
.ow-order-bd table td.td-amount{}
.ow-order-bd table td.td-status{}
.ow-order-bd table td.td-operate{ border-right:0px;}

.ow-order-bd .goods-list{ min-width:520px;}
.ow-order-bd .goods{ border-bottom:1px solid #eee; display:block; zoom:1; overflow:auto;}
.ow-order-bd .goods:last-child{ border-bottom:none; }
.ow-order-bd .goods .goods-info{ float:left; width:380px; padding:10px 10px;}
.ow-order-bd .goods .goods-number{ color:#888; float:left; font-size:12px; width:50px; padding:12px 0px;}
.ow-order-bd .goods .goods-repair{ color:#888; float:left; font-size:12px; width:70px; padding:12px 0px;}

.ow-order-bd .goods .thumb{ float:left; margin-right:10px; text-align:center;}
.ow-order-bd .goods .thumb img{ border:1px solid #eee; height:56px; width:56px; vertical-align:top; padding:1px;  }
.ow-order-bd .goods .info{ zoom:1; overflow:auto;}
.ow-order-bd .goods .title{ color:#222; font-size:14px; font-weight:normal; line-height:20px; overflow:hidden;}
.ow-order-bd .goods .title em{ font-size:12px; font-style:normal; padding-left:5px;}
.ow-order-bd .goods .spec-value{ color:#888; max-height:36px; line-height:18px; overflow:hidden; padding:5px 0px 0px 0px; text-overflow:ellipsis;}
.ow-order-bd .goods .price{ padding:3px 0px 0px 0px;}
.ow-order-bd .goods .price span.money{ color:#d30000; font-size:13px;}
.ow-order-bd .goods .price span.point{ color:#d30000; font-size:13px;}
.ow-order-bd .goods .price span.point em{ font-size:12px;}

.ow-order-bd .order-status{ display:block; border-bottom:1px solid #eee; margin:0px 0px 8px 0px; padding:0px 0px 3px 0px;}
.ow-order-bd .order-status-finish{ color:#009e00;}
.ow-order-bd .amount b{ font-weight:normal;}

/*订单详细*/
.section-order{ border:1px solid #ddd; font-family:verdana; margin-right:15px; padding:10px 15px 15px 15px;}
.section-order .order-header{ font-size:14px;}
.section-order .order-header .order-id-line{ border-bottom:1px dotted #eee; padding:0px 0px 10px 0px; zoom:1; overflow:auto; }
.section-order .order-header .order-id-line .book-order{ color:#00a853; padding:0px 10px 0px 0px;}
.section-order .order-header .order-id-line .order-id{ color:#666; margin-right:10px;}
.section-order .order-header .order-id-line .order-cancelled{ color:#f00; margin-right:10px;}
.section-order .order-header .order-id-line .order-refund{ color:#f00; margin-right:10px;}
.section-order .order-header .order-id-line .order-add-time{ color:#888; font-size:12px;}
.section-order .order-header .order-action{ border-bottom:1px solid #eee; padding:10px 0px 10px 0px; }
.section-order .order-header .order-action .btn{ margin-right:10px;}
.section-order .order-header .order-action a.link,
.section-order .order-header .order-action a.link:visited{ color:#3e65b3;}
.section-order .order-header .book-pay-time{ padding-left:10px;}
.section-order .order-header .book-pay-time b{  color:#eb2200; padding:0px 2px;}
.section-order .order-header .order-paytime-tip{ color:#666; font-size:12px; padding:5px 0px 0px 0px;}
.section-order .order-header .order-paytime-tip b{ color:#eb2200; padding:0px 2px;}

.section-order .section{ }

.order-process-section { zoom:1; overflow:auto;}
.order-process{ margin-top:55px; min-width:320px; max-width:1000px; padding:0px 0px;}
.order-process li{ border-top:6px solid #aaa; float:left; width:20%; position:relative;}
.order-process li dl dt{ font-weight:bold; position:absolute; top:-38px;}
.order-process li dl dd{ color:#686868; margin-top:12px; padding:0px 10px 0px 0px;}
.order-process li .tips{ color:#686868; }
.order-process li.current{ border-top-color:#26a500;}
.order-process li span{ background-color:#aaa; color:#fff; display:inline-block; height:20px; width:20px; position:absolute; top:-13px; text-align:center; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.order-process li.current span{ background-color:#26a500;}

.order-process-detail{ border-bottom:1px solid #ddd; clear:both; padding:10px 0px 0px 0px;}
.order-process-detail .header{ font-size:14px; padding:5px 0px 5px 0px;}
.order-process-detail .section{}
.order-process-detail td.tdtitle{ font-family:Arial, Helvetica, sans-serif;}

.order-goods,
.order-info{ padding:10px 0px;}
.order-goods .header,
.order-info .header{ font-size:14px; padding:5px 0px;}
.order-info .section{ margin-bottom:10px;}
.order-info .col-xs-1{ min-width:160px; max-width:160px;}
.order-info .col-xs-7{ width:80%;}


.goods-item{ padding:3px 0px 0px 2px;}
.goods-item .item-pic { float:left; }
.goods-item .item-pic a { background-color:#fff; border:1px solid #ccc; display:inline-block; height:56px; width:56px; text-align:center; }
.goods-item .item-pic a .pic { max-height:56px; max-width:56px; height:expression(this.height > 56 && this.height/this.width >= 1 ? 56 : true); width:expression(this.width > 56 && this.width/this.height >= 1 ? 56 : true); }
.goods-item .item-info { padding-left:68px;}
.goods-item .item-info .item-title{ color:#3e65b3;}
.goods-item .item-info .item-spec{ color:#888; padding:3px 0px 0px 0px;}

.section-order span.money{ font-weight:bold; font-size:12px; }
.section-order span.money em{}
.section-order span.money b{ font-weight:bold;}
.section-order span.total-amount{ color:#d30000; font-size:14px; }
.section-order span.front-money{ font-size:14px;}
.section-order span.money-paid{ color:#27a400; font-size:14px;}
.section-order span.need-pay{  color:#d30000; font-size:14px;}
.section-order span.book-final-pay-time{ color:#888; margin-left:10px;}

/*订单商品清单*/
.order-goods-table{ background-color:#fff; border:1px solid #ddd; width:100%;}
.order-goods-table thead th{ background-color:#eee; border-bottom:1px solid #ddd; padding:5px; text-align:center;}
.order-goods-table tbody tr.goods td{ border-bottom:1px solid #eee; border-left:1px solid #eee; padding:5px;}
.order-goods-table tbody.suit{ border-bottom:1px solid #ddd;}
.order-goods-table tbody.suit tr.suit td{ background-color:#fafafa; border-bottom:1px solid #eee; border-left:1px solid #eee; padding:5px;}
.order-goods-table tbody.suit tr.suit td:first-child{ border-left:none;}
.order-goods-table tbody.suit tr.goods td{ background-color:#fafafa; border-bottom:1px solid #eee; border-left:1px solid #eee; padding:5px;}
.order-goods-table tbody.suit tr.goods td:first-child{ border-left:none;}
.order-goods-table .item-gid,
.order-goods-table .item-product-sn,
.order-goods-table .item-price,
.order-goods-table .item-amount,
.order-goods-table .item-sum,
.order-goods-table .item-comment{ text-align:center;}

/*订单商品评价*/
.section-goods-commemt{ zoom:1; overflow:auto;}
.section-goods-commemt{ margin-left:10px; margin-right:20px;}
.section-goods-commemt .order-header{ border-bottom:1px solid #ddd; font-size:14px; padding:0px 0px 10px 0px;}
.section-goods-commemt .order-header .order-id{ color:#222; margin-right:10px;}
.section-goods-commemt .order-header .order-cancelled{ color:#f00; margin-right:10px;}
.section-goods-commemt .order-header .order-add-time{ color:#888; font-size:12px;}
.section-goods-commemt .section{ }

/*订单申请退款*/
.section-refund-apply{}
.section-refund-apply .goods-section{ padding:10px 0px;}
.section-refund-apply .ship-status{ color:#5483b8; padding-left:10px;}
.refund-admin-reply{ background:#fafafa; border:1px solid #83a3cf;}

/*评价列表*/
.section-commemt-list{}
.section-commemt-list > .header{ font-size:18px; padding:10px 0px 0px 0px;}
.comment-data { background:#fafafa; border:1px solid #ddd; margin:10px 0px 0px 0px; position:relative; zoom:1; overflow:auto;}
.comment-data .avatar { float:left; padding:15px; width:56px;}
.comment-data .avatar img {height:56px; width:56px;}
.comment-data .avatar .user { font-size:11px; font-weight:bold;}
.comment-data-content { margin-left:86px; padding:8px 10px 15px 0px;}
.comment-data-content .cmt-header{ padding:3px 0px 0px 0px; zoom:1; overflow:auto;}
.comment-data-content .cmt-content{ font-size:14px; padding:8px 0px 10px 0px;}
.comment-data-content .cmt-footer{ font-size:14px;}
.comment-data-content .cmt-spec{ color:#888; float:left; padding:0px 20px 0px 0px;}
.comment-data-content .cmt-spec b{ color:#424242;}
.comment-data-content .cmt-buy-time{ color:#888; float:left; padding:0px 10px 0px 0px;}
.comment-data-content .cmt-buy-time b{ color:#424242; font-weight:normal;}
.comment-data-content .cmt-type{ float:left; padding:0px 20px 0px 0px;}
.comment-data-content .cmt-type b{}
.comment-data-content .cmt-time{ color:#888; font-size:12px;}
.comment-data-content .cmt-time b{ color:#424242; font-weight:normal;}
.comment-data-reply { background-color:#fff; border:1px solid #ddd; border-top:none; margin:0px 0px;}
.comment-data-reply .avatar .user { color:#17a000; }
.comment-data-reply .comment-data-content {}
.comment-data-reply .comment-data-content > .cmt-header{ color:#17a000; font-weight:bold;}
.comment-data-reply .comment-data-content > .cmt-content{ font-size:12px; padding:0px 0px 10px 0px;}
.comment-data-reply .comment-data-content > .cmt-footer{ font-size:12px;}

/*评分*/
.cmt-type-a{ color:#cd0000;}
.cmt-type-b{ color:#db5800;}
.cmt-type-c{ color:#486180;}

/*发表评价*/
.post-section{ background:#fafafa; border:1px solid #ddd; margin:10px 0px; padding:10px 20px;}
.post-section > .header{ border-bottom:1px solid #eee; box-shadow:0px 1px 0px #fff; font-size:18px; padding:0px 0px 3px 0px;}
.post-section > .section{ padding:5px 0px 5px 0px;}
.post-section > .footer{ padding:5px 0px 15px 0px;}
.post-section > .footer label{ margin-left:15px;}
.post-section > .footer label input{ margin:0px 5px 3px 0px;}
.post-section dl{ padding:5px 0px 2px 0px;}
.post-section dl dt{ color:#aa8d63; font-weight:bold;}
.post-section dl dd{ padding:2px 0px 0px 0px;}
.post-section dl dd .text-long,
.post-section dl dd .textarea{ margin-top:3px; width:480px;}
.post-section dl dd .textarea{ height:100px;}
.post-section dl dd label{ margin-right:15px;}
.post-section dl dd label input{ margin:0px 3px 2px 0px;}
.post-section dl.get-answer-email dt{ color:#17a000;}

/*[主内容]我的收藏*/
.section-favorite{}
.section-favorite .section{ padding:0px 15px 0px 0px; zoom:1; overflow:auto;}
.section-favorite .footer{ padding:0px 15px 0px 0px;}
ul.goods-list{ padding:0px 1px 1px 0px; zoom:1; overflow:auto;}
ul.goods-list li{ background-color:#fff; border:1px solid #eee; float:left; margin-right:-1px; margin-bottom:-1px; height:250px; width:150px; padding:10px 10px 10px 10px; text-align:center; overflow:hidden;}
ul.goods-list li:hover{ background:#fafafa; border:1px solid #ccc; position:relative;}
ul.goods-list li .thumb{ background-color:#fff; width:150px; padding:10px 0px; text-align:center; }
ul.goods-list li .thumb img{ height:120px; width:120px;}
ul.goods-list li .info{ background-color:#fff; height:100px; overflow:hidden;}
ul.goods-list li .title{ font-weight:normal; font-size:12px; line-height:20px; max-height:40px; overflow:hidden;}
ul.goods-list li .title a:hover{ color:#e30000; text-decoration:none;}
ul.goods-list li .subtitle { color:#aaa; font-size:12px; line-height:20px; max-height:40px; overflow:hidden;}
ul.goods-list li .price{ height:20px; line-height:20px; overflow:hidden; }
ul.goods-list li .price span{ color:#d30000; font-size:12px; font-style:normal;}
ul.goods-list li .price span em{}
ul.goods-list li .price span.money{ margin-left:5px;}
ul.goods-list li a.delete{ background:#fff; border:1px solid #ccc; display:none; font-size:12px; padding:0px 10px; position:absolute; bottom:0px; right:0px;}
ul.goods-list li a.delete:hover{ border:1px dotted #f60000; color:#f60000; text-decoration:none;}
ul.goods-list .pager{ padding:20px 20px 40px 0px;}

/*[主内容]优惠券*/
.section-coupon{}
.section-coupon .header{ padding:0px 0px 10px 0px; zoom:1; overflow:auto;}
.section-coupon .header ul{}
.section-coupon .header ul li{ float:left;}
.section-coupon .header ul li a{ background-color:#eee; border-bottom:3px solid #ccc; display:inline-block; margin:0px 1px 0px 0px; padding:3px 20px;}
.section-coupon .header ul li a:hover{ border-bottom-color:#aaa; color:#333; text-decoration:none;}
.section-coupon .header ul li a.current,
.section-coupon .header ul li a.current:hover{ border-bottom-color:#c60000; color:#c60000; font-weight:bold; padding:3px 35px;}
.section-coupon .section{ padding:0px 15px 0px 0px; zoom:1; overflow:auto;}
.section-coupon .footer{ padding:0px 15px 0px 0px;}

.section-coupon .coupon{ float:left; margin:10px 10px 0px 0px; padding:0px;}
.section-coupon .coupon dl{ }
.section-coupon .coupon dl dt{ background-color:#cb3e3e;  border-bottom:1px solid #7b0000; color:#fff; padding:18px 10px;}
.section-coupon .coupon dl dt .moneysb{ font-style:normal; font-size:26px; font-weight:bold;}
.section-coupon .coupon dl dt .money{ font-size:60px; font-weight:bold; height:60px; line-height:60px;}
.section-coupon .coupon dl dt .coupon-name{ font-size:26px; padding-left:10px;}
.section-coupon .coupon dl dd{ background-color:#f6f6f6; border:1px solid #ccc; border-top:none; padding:10px 0px 10px 10px; width:320px;}
.section-coupon .coupon dl dd .use-time{ padding-bottom:5px;}
.section-coupon .coupon dl dd .span-dt{ color:#888; display:inline-block; float:left; width:60px;}
.section-coupon .coupon dl dd .span-dd{ color:#333; padding-left:60px;}
.section-coupon .coupon-used dl dt{ background-color:#ccc; border-bottom-color:#a95656; }
.section-coupon .coupon-invalid dl dt{ background-color:#ccc; border-bottom-color:#aaa;}

/*消息详细*/
.section-msg-detail{ padding:0px 15px 0px 0px;}
.section-msg-detail dl{ font-size:14px; padding:2px 0px;}
.section-msg-detail dl dt{ color:#aaa; font-weight:bold; padding-right:10px;}
.section-msg-detail dl dd{ padding:0px 0px;}
.section-msg-detail dl.msg-title dt{ float:left;}
.section-msg-detail dl.msg-time dt{ float:left;}
.section-msg-detail dl.msg-content dd{ padding:5px 0px 0px 0px;}

/*收货地址*/
div.dialog-post-form{ padding:12px 15px 13px 15px;}
div.dialog-post-form .dl{ padding:0px 0px 5px 0px;}
div.dialog-post-form .dl .dt{ color:#888; font-weight:bold; padding:0px 0px 3px 0px;}
div.dialog-post-form .dl .dd{}
div.dialog-post-form .buttons{ padding:10px 0px;}
div.dialog-post-form .buttons .btn{ margin-right:8px;}

.ow-formdata .top-area{ padding:0px 0px 10px 0px;}
.ow-formdata-list{ border:1px solid #ddd; font-size:14px; margin:0px 0px 10px 0px; padding:5px 10px; }
.ow-formdata-list .item{ padding:2px 0px; zoom:1; overflow:auto;}
.ow-formdata-list .item .colname{ color:#999; float:left; min-width:120px; text-align:right; padding-right:5px;}
.ow-formdata-list .item .colvalue{}
.ow-formdata-list .header{ border-bottom:1px dotted #ddd; margin:0px 0px 5px 0px; padding:0px 0px 5px 0px; }
.ow-formdata-list .header .default{ color:#d60000; margin-left:10px;}
.ow-formdata-list .footer{ border-top:1px dotted #ddd; font-size:12px; margin:5px 0px 0px 0px; padding:5px 0px 0px 0px; text-align:right;}
.ow-formdata-list .footer a,
.ow-formdata-list .footer a:visited{ color:#0070d9; margin-right:10px;}

.ow-form-desc{ background:#fafafa; border:1px dashed #e6e6e6; margin:0px 0px 10px 0px; padding:10px;}

/****兑换优惠券****/
.ow-coupon-exchange{ padding:10px 0px 5px 0px;}
.ow-deposit-exchange{ padding:0px 0px 10px 0px;}
.ow-exchange-section{}
.ow-exchange-input{ background:#fff; border:1px solid #aaa; color:#000; float:left; font-size:15px!important; height:24px!important; line-height:24px!important; padding:7px 10px!important; width:200px; }
.ow-exchange-button{ background:#337ab7; border:1px solid #2e6da4; color:#fff; font-size:16px; font-weight:bold; height:40px; line-height:40px; margin:0px 0px 0px 5px; padding:0px 10px;}


/**分销店铺**/
.ow-fenxiao-store{ border:1px solid #eee; padding:10px;}
.ow-my-store{ font-size:16px;}
.ow-my-store i{ margin:0px 5px 0px 0px;}

.ow-fenxiao-tip{ border:1px solid #eee; padding:10px;}


































